# Import Libraries

In [1]:
import pandas as pd
import numpy as np
import httpx
from selectolax.parser import HTMLParser
import re

# Get Data From vlr.gg

## Data Extracting & Cleaning Function

In [2]:
def extract_df(df):
    
    
    def extract_data(data) -> str:
        list_data = re.findall("[\d+-.]+",data)

        if len(list_data) < 3:
            result = '0 0 0'
        else:
            result = ' '.join(list_data)

        return result
    
    filled_df =df.fillna('Nan Nan Nan').astype('object')
    
    name = filled_df.iloc[:,0].map(lambda s : s.split(' ')[0])
    team = filled_df.iloc[:,0].map(lambda s : s.split(' ')[1])
    
    filled_df.iloc[:,0] = name
    filled_df.iloc[:,1] = team
    
    formatted_df = filled_df.rename(columns={'Unnamed: 0':'Name','Unnamed: 1':'Team'})
    
    formatted_df.iloc[:,2:] = formatted_df.iloc[:,2:].applymap(extract_data)
    
    new_columns = []
    for c in formatted_df.columns[2:]:
        for side in ['all','atk','def']:
            new_columns.append((c,side))

    new_columns = np.array(new_columns).reshape(-1,3,2)
    
    
    result_df = pd.DataFrame(formatted_df.iloc[:,:2])
    
    
    result_df.columns = [('Name','Name'),('Team','Team')]
    
    
    for nc,c in zip(new_columns,formatted_df.iloc[:,2:].columns):
        result_df[list(map(lambda x: tuple(x),list(nc)))] = formatted_df[c].str.split(' ',expand=True)
        
    
    result_df.columns = pd.MultiIndex.from_tuples(result_df.columns,name=['Type','Side'])
    
    return result_df

## Scraping Data

### Preparing URL(s)

In [3]:
base_url = 'https://www.vlr.gg'

event_url = '/event/matches/1188/champions-tour-2023-lock-in-s-o-paulo/?series_id=all'

### Scraping All Matches in the Event

In [4]:
res = httpx.get(base_url+event_url) #get https response from vlr.gg

html = HTMLParser(res.text) # parsing into plain text

matches = html.css('a.wf-module-item') # get all matches in events

# find all completed match by css status class
completed_matches = [match for match in matches \
                     if match.css_first('div.ml-status').text() == 'Completed']

In [5]:
# incase need a perfect matches with no missing data point(s) for VCT LOCK//IN
# perfect_completed_matches = completed_matches[:21] + completed_matches[22:30] + completed_matches[31:]

### Scraping Map(s) played and players data

In [64]:
re_strip = lambda sp,st : sp.join(re.findall('\S+',st)) # function for normal regex by finding all char

for index,match in enumerate(completed_matches):
    
    # formatting name (tbh i couldn't remember why i did this but for the pretty formatted name)
    match_res = httpx.get(match_url := f'{base_url}{match.attributes["href"]}')
    print(httpx.get(match_url))

    match_html = HTMLParser(match_res.text)

    match_name = match_html.css_first('title').text().strip().split(' | ')[0].split(' vs. ')

    messy_match_result = match_html.css_first('div.js-spoiler').text()
    match_result = ' ' + re_strip('',messy_match_result) + ' '

    print(index, '>> ',end='')
    print(match_sum:=match_result.join(match_name))
    print()
    
    # get date and time of the match
    date = match_html.css_first('div.match-header-date')
    print('\t'+re_strip(' ',date.text()))
    print()
    
    # stage of the match
    stage = match_html.css_first('div.match-header-event-series')
    print('\t'+re_strip(' ',stage.text()))
    print()
    
    #ban pick of the match
    ban_pick = match_html.css_first('div.match-header-note')
    for bp in re_strip(' ',ban_pick.text()).split(';'):
        print('\t'+bp.strip())
#     #scraping all tables from pages w/ css table class
#     tables = match_html.css('table.wf-table-inset')

    
#     for table in tables: # for all table in matches
#         df = pd.read_html(table.html)[0]
#         display(transform_subcolumns_df(df))


    # get data of each map(s) in the match
    maps = match_html.css('div.vm-stats-game')

    # rearrange the map order
    maps = [maps[1],maps[0],maps[2]]
    
    # extract data of each map
    for m in maps:
        # get the current map pick name or overall if it the match summary
        current_map = m.css_first('div.map')
        match_header = 'Overall' if not current_map else\
                        ' '.join(re_strip(' ',current_map.text()).split(' ')[::2])
        
        print(match_header)
        
        
        tables = m.css('table.wf-table-inset')
        
        for table in tables:
            df = pd.read_html(table.html)[0]
            display(extract_df(df))

<Response [200 OK]>
0 >> KOI 0:2 NRG Esports

	Tuesday, February 14th 12:10 AM +07 Patch 6.02

	Bracket Stage: Alpha - Round of 16

	NRG ban Ascent
	KOI ban Split
	NRG pick Icebox
	KOI pick Haven
	NRG ban Fracture
	KOI ban Lotus
	Pearl remains
Overall

Type        Name Team     R              ACS             K      ... HS%  FK  \
Side        Name Team   all   atk   def  all  atk  def all atk  ... def all
0          trexx  KOI  1.24  1.45  1.03  275  329  229  46  28  ...  37   3
1        sheydos  KOI  0.95  1.16  0.75  158  188  135  27  18  ...  25   2
2         starxo  KOI  0.76  0.79  0.72  123  123  124  17   9  ...  13   0
3         Wolfen  KOI  0.75  0.81  0.70  187  214  161  28  16  ...  40  10
4     koldamenta  KOI  0.72  0.77  0.64  110  115  103  17   8  ...  20   1

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      2   1   4   1   3    -1  +1  -2
1      1   1   4   1   3    -2   0  -2
2      0   0   6   1   5    -6  -1  -5
3      6   4  13   7   6    -3  -1  -2
4      1   0   3   2   1    -2  -1  -1

[5 rows x 38 columns]

Type      Name Team     R              ACS             K      ... HS%  FK      \
Side      Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0     crashies  NRG  1.26  1.44  1.08  220  252  188  36  24  ...  22   5   1
1          s0m  NRG  1.25  1.29  1.23  227  209  253  36  17  ...  41   4   2
2          FNS  NRG  1.12  1.15  1.10  173  161  186  24  12  ...  17   5   4
3       ardiis  NRG  1.08  1.27  0.88  190  217  159  27  16  ...  12  10   8
4       Victor  NRG  0.98  1.05  0.92  172  149  198  29  14  ...  30   6   3

Type      FD         +/–.1
Side def all atk def   all atk def
0      4   4   1   3    +1   0  +1
1      2   4   2   2     0   0   0
2      1   0   0   0    +5  +4  +1
3      2   4   1   3    +6  +7  -1
4      3   4   2   2    +2  +1  +1

[5 rows x 38 columns]

Icebox 1:12:59

Type        Name Team     R              ACS             K      ... HS%  FK  \
Side        Name Team   all   atk   def  all  atk  def all atk  ... def all
0          trexx  KOI  1.24  1.72  0.77  304  391  218  27  18  ...  36   2
1        sheydos  KOI  1.15  1.56  0.73  193  241  147  17  13  ...  28   1
2         Wolfen  KOI  0.81  0.81  0.81  168  176  162  14   7  ...  50   5
3         starxo  KOI  0.73  1.00  0.46  134  149  119  10   6  ...  20   0
4     koldamenta  KOI  0.59  1.08  0.09   73  134   12   5   5  ...   0   0

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      1   1   1   1   0    +1   0  +1
1      1   0   2   0   2    -1  +1  -2
2      4   1   8   5   3    -3  -1  -2
3      0   0   4   0   4    -4   0  -4
4      0   0   1   0   1    -1   0  -1

[5 rows x 38 columns]

Type      Name Team     R              ACS             K      ... HS%  FK      \
Side      Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0          s0m  NRG  1.42  1.77  1.07  295  353  238  24  15  ...  29   4   2
1     crashies  NRG  1.27  1.66  0.87  244  325  163  22  16  ...  16   3   1
2       Victor  NRG  1.00  1.23  0.76  161  181  143  14   9  ...  26   2   2
3          FNS  NRG  1.00  1.21  0.80  165  158  174  12   6  ...  14   4   3
4       ardiis  NRG  0.94  1.18  0.69  156  136  177  11   5  ...  14   3   2

Type      FD         +/–.1
Side def all atk def   all atk def
0      2   0   0   0    +4  +2  +2
1      2   2   0   2    +1  +1   0
2      0   3   2   1    -1   0  -1
3      1   0   0   0    +4  +3  +1
4      1   3   0   3     0  +2  -2

[5 rows x 38 columns]

Haven 53:43

Type        Name Team     R              ACS             K      ... HS%  FK  \
Side        Name Team   all   atk   def  all  atk  def all atk  ... def all
0          trexx  KOI  1.24  1.19  1.29  246  254  240  19  10  ...  38   1
1     koldamenta  KOI  0.85  0.45  1.19  147   92  194  12   3  ...  21   1
2         starxo  KOI  0.80  0.59  0.98  112   92  130   7   3  ...   6   0
3        sheydos  KOI  0.76  0.76  0.77  123  125  123  10   5  ...  19   1
4         Wolfen  KOI  0.68  0.80  0.59  205  260  160  14   9  ...  33   5

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      1   0   3   0   3    -2  +1  -3
1      1   0   2   2   0    -1  -1   0
2      0   0   2   1   1    -2  -1  -1
3      0   1   2   1   1    -1  -1   0
4      2   3   5   2   3     0   0   0

[5 rows x 38 columns]

Type      Name Team     R              ACS             K      ... HS%  FK      \
Side      Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0     crashies  NRG  1.24  1.21  1.28  196  178  218  14   8  ...  31   2   0
1       ardiis  NRG  1.23  1.36  1.06  224  299  136  16  11  ...   8   7   6
2          FNS  NRG  1.23  1.09  1.40  180  163  202  12   6  ...  22   1   1
3          s0m  NRG  1.07  0.81  1.40  158   66  270  12   2  ...  59   0   0
4       Victor  NRG  0.96  0.86  1.08  183  117  263  15   5  ...  32   4   1

Type      FD         +/–.1
Side def all atk def   all atk def
0      2   2   1   1     0  -1  +1
1      1   1   1   0    +6  +5  +1
2      0   0   0   0    +1  +1   0
3      0   4   2   2    -4  -2  -2
4      3   1   0   1    +3  +1  +2

[5 rows x 38 columns]

<Response [200 OK]>
1 >> DetonatioN FocusMe 0:2 Giants Gaming

	Tuesday, February 14th 3:05 AM +07 Patch 6.02

	Bracket Stage: Alpha - Round of 16

	DFM ban Split
	GIA ban Fracture
	DFM pick Haven
	GIA pick Icebox
	DFM ban Lotus
	GIA ban Ascent
	Pearl remains
Overall

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0       takej  DFM  1.00  1.11  0.93  197  200  195  13   6  ...  64   2   2
1       Reita  DFM  0.79  0.61  0.92  208  184  226  25  12  ...  58   3   1
2     Suggest  DFM  0.72  0.60  0.87  155  131  183  21  10  ...  29   4   2
3      Anthem  DFM  0.71  0.89  0.50  159  188  131  19  12  ...  42   3   0
4       xnfri  DFM  0.66  0.66  0.51  151  158  151  19  11  ...  14   1   1
5     Seoldam  DFM  0.27  0.37  0.05  129  153   74   7   6  ...  27   2   2

Type      FD         +/–.1
Side def all atk def   all atk def
0      0   1   0   1    +1  +2  -1
1      2   8   6   2    -5  -5   0
2      2   5   2   3    -1   0  -1
3      3   2   2   0    +1  -2  +3
4      0   2   0   2    -1  +1  -2
5      0   4   2   2    -2   0  -2

[6 rows x 38 columns]

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0       Cloud  GIA  1.58  1.71  1.59  287  250  306  42  18  ...  43   4   3
1      nukkye  GIA  1.41  1.27  1.49  233  223  245  32  15  ...  35   5   1
2       rhyme  GIA  1.32  1.27  1.33  201  180  218  28  11  ...  35   3   1
3       hoody  GIA  1.25  1.15  1.39  208  202  219  27  13  ...  16   5   3
4     Fit1nho  GIA  0.97  1.18  0.73  161  224  108  20  12  ...  13   5   2

Type      FD         +/–.1
Side def all atk def   all atk def
0      1   1   0   1    +3  +3   0
1      4   4   2   2    +1  -1  +2
2      2   4   2   2    -1  -1   0
3      2   2   1   1    +3  +2  +1
4      3   4   2   2    +1   0  +1

[5 rows x 38 columns]

Haven 50:48

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0       Reita  DFM  0.80  0.79  0.84  263  247  303  15  10  ...  46   2   1
1     Suggest  DFM  0.75  0.67  0.94  150  107  254  10   5  ...  67   3   2
2       xnfri  DFM  0.58  0.75  0.17  102  118   65   7   6  ...  20   0   0
3      Anthem  DFM  0.47  0.59  0.21  128  155   64   6   5  ...  50   0   0
4     Seoldam  DFM  0.27  0.37  0.05  129  153   74   7   6  ...  27   2   2

Type      FD         +/–.1
Side def all atk def   all atk def
0      1   3   3   0    -1  -2  +1
1      1   1   1   0    +2  +1  +1
2      0   1   0   1    -1   0  -1
3      0   1   1   0    -1  -1   0
4      0   4   2   2    -2   0  -2

[5 rows x 38 columns]

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0       Cloud  GIA  1.96  2.35  1.80  372  389  366  26   9  ...  37   3   2
1      nukkye  GIA  1.52  1.30  1.61  216  188  228  12   3  ...  35   1   0
2       rhyme  GIA  1.45  1.33  1.50  204  204  204  13   3  ...  35   1   0
3       hoody  GIA  1.20  1.21  1.20  178  199  171  10   4  ...  10   2   1
4     Fit1nho  GIA  1.01  1.14  0.96  159  168  156  10   3  ...   8   3   0

Type      FD         +/–.1
Side def all atk def   all atk def
0      1   1   0   1    +2  +2   0
1      1   2   1   1    -1  -1   0
2      1   1   0   1     0   0   0
3      1   1   1   0    +1   0  +1
4      3   2   0   2    +1   0  +1

[5 rows x 38 columns]

Icebox 51:43

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0       takej  DFM  1.00  1.11  0.93  197  200  195  13   6  ...  64   2   2
1      Anthem  DFM  0.95  1.19  0.79  190  238  159  13   7  ...  41   3   0
2       Reita  DFM  0.77  0.44  0.99  152   91  194  10   2  ...  73   1   0
3       xnfri  DFM  0.74  0.57  0.85  200  220  187  12   5  ...  12   1   1
4     Suggest  DFM  0.69  0.53  0.79  159  169  153  11   5  ...  17   1   0

Type      FD         +/–.1
Side def all atk def   all atk def
0      0   1   0   1    +1  +2  -1
1      3   1   1   0    +2  -1  +3
2      1   5   3   2    -4  -3  -1
3      0   1   0   1     0  +1  -1
4      1   4   1   3    -3  -1  -2

[5 rows x 38 columns]

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0      nukkye  GIA  1.30  1.24  1.37  249  237  269  20  12  ...  35   4   1
1       hoody  GIA  1.30  1.10  1.59  238  203  291  17   9  ...  28   3   2
2       rhyme  GIA  1.20  1.22  1.17  198  170  240  15   8  ...  35   2   1
3       Cloud  GIA  1.19  1.06  1.39  202  193  217  16   9  ...  67   1   1
4     Fit1nho  GIA  0.93  1.22  0.50  162  247   37  10   9  ...  50   2   2

Type      FD         +/–.1
Side def all atk def   all atk def
0      3   2   1   1    +2   0  +2
1      1   1   0   1    +2  +2   0
2      1   3   2   1    -1  -1   0
3      0   0   0   0    +1  +1   0
4      0   2   2   0     0   0   0

[5 rows x 38 columns]

<Response [200 OK]>
2 >> FunPlus Phoenix 1:2 Karmine Corp

	Wednesday, February 15th 12:10 AM +07 Patch 6.02

	Bracket Stage: Alpha - Round of 16

	FPX ban Icebox
	KC ban Ascent
	FPX pick Lotus
	KC pick Haven
	FPX ban Split
	KC ban Fracture
	Pearl remains
Overall

Type       Name Team     R              ACS             K      ... HS%  FK  \
Side       Name Team   all   atk   def  all  atk  def all atk  ... def all
0        YuChEn  FPX  1.05  0.93  1.11  189  168  211  40  15  ...  33   3
1        Yuicaw  FPX  0.97  1.01  0.96  190  197  187  42  21  ...  22   3
2         AAAAY  FPX  0.86  0.89  0.82  202  196  208  39  19  ...  33   1
3     nizhaoTZH  FPX  0.83  0.84  0.77  162  177  149  35  18  ...  29   4
4        berLIN  FPX  0.78  0.70  0.86  182  182  187  34  16  ...  30   7

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      3   0   7   2   5    -4  +1  -5
1      0   3  12   6   6    -9  -6  -3
2      0   1   6   3   3    -5  -3  -2
3      2   2   5   0   5    -1  +2  -3
4      3   4  11   9   2    -4  -6  +2

[5 rows x 38 columns]

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0        sh1n   KC  1.37  1.52  1.19  279  311  237  57  35  ...  17  12   7
1      Nivera   KC  1.17  1.30  1.00  268  282  250  54  30  ...  22  14   8
2      ScreaM   KC  1.06  1.00  1.27  229  217  248  50  25  ...  35   6   3
3         xms   KC  1.00  0.85  1.08  160  133  190  34  14  ...  39   6   1
4     Newzera   KC  0.89  0.74  1.09  120  108  137  25  11  ...  32   3   2

Type      FD         +/–.1
Side def all atk def   all atk def
0      5   3   2   1    +9  +5  +4
1      6   4   1   3   +10  +7  +3
2      3   7   4   3    -1  -1   0
3      5   1   1   0    +5   0  +5
4      1   3   2   1     0   0   0

[5 rows x 38 columns]

Lotus 55:34

Type       Name Team     R              ACS             K      ... HS%  FK  \
Side       Name Team   all   atk   def  all  atk  def all atk  ... def all
0        YuChEn  FPX  1.07  1.12  0.97  198  200  196  12   7  ...  20   1
1         AAAAY  FPX  0.95  0.95  0.94  256  225  310  16   9  ...  35   0
2        Yuicaw  FPX  0.79  0.73  0.89  164  163  166  11   7  ...  29   0
3     nizhaoTZH  FPX  0.56  0.66  0.40  145  200   51  10   9  ...  25   0
4        berLIN  FPX  0.54  0.43  0.73  118  123  112   7   5  ...  13   1

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      1   0   2   0   2    -1  +1  -2
1      0   0   3   2   1    -3  -2  -1
2      0   0   6   4   2    -6  -4  -2
3      0   0   2   0   2    -2   0  -2
4      1   0   4   4   0    -3  -3   0

[5 rows x 38 columns]

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0        sh1n   KC  1.56  1.71  1.47  288  283  291  20   8  ...   8   4   3
1         xms   KC  1.32  0.85  1.60  223  145  270  17   4  ...  38   6   1
2      Nivera   KC  1.31  1.23  1.36  321  272  351  21   7  ...  29   4   1
3     Newzera   KC  0.98  0.81  1.07   96   68  114   6   1  ...  30   0   0
4      ScreaM   KC  0.93  1.35  0.69  198  336  119  15   9  ...  40   3   2

Type      FD         +/–.1
Side def all atk def   all atk def
0      1   0   0   0    +4  +3  +1
1      5   0   0   0    +6  +1  +5
2      3   0   0   0    +4  +1  +3
3      0   0   0   0     0   0   0
4      1   2   0   2    +1  +2  -1

[5 rows x 38 columns]

Haven 52:27

Type       Name Team     R              ACS             K      ... HS%  FK  \
Side       Name Team   all   atk   def  all  atk  def all atk  ... def all
0        Yuicaw  FPX  1.33  1.33  1.33  235  229  240  20   9  ...  27   3
1        YuChEn  FPX  1.24  1.15  1.31  216  161  259  18   5  ...  27   2
2        berLIN  FPX  1.02  1.23  0.85  249  292  217  17   8  ...  43   4
3         AAAAY  FPX  0.98  1.42  0.65  203  250  168  15   9  ...  28   0
4     nizhaoTZH  FPX  0.81  1.03  0.64  150  122  172  11   4  ...  36   2

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      0   3   3   2   1     0  -2  +2
1      2   0   0   0   0    +2  +2   0
2      2   2   3   2   1    +1   0  +1
3      0   0   1   0   1    -1   0  -1
4      1   1   3   0   3    -1  +1  -2

[5 rows x 38 columns]

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0      ScreaM   KC  1.15  0.83  1.58  273  219  347  20  10  ...  26   2   1
1     Newzera   KC  0.90  0.88  0.94  151  159  141  11   7  ...  36   1   0
2      Nivera   KC  0.86  1.39  0.15  228  314  114  16  13  ...  18   5   4
3         xms   KC  0.83  0.91  0.74  144  165  118   9   6  ...  38   0   0
4        sh1n   KC  0.77  1.01  0.45  170  205  124  12   9  ...  14   2   1

Type      FD         +/–.1
Side def all atk def   all atk def
0      1   3   2   1    -1  -1   0
1      1   1   1   0     0  -1  +1
2      1   4   1   3    +1  +3  -2
3      0   0   0   0     0   0   0
4      1   3   2   1    -1  -1   0

[5 rows x 38 columns]

<Response [200 OK]>
3 >> BBL Esports 1:2 DRX

	Wednesday, February 15th 3:45 AM +07 Patch 6.02

	Bracket Stage: Alpha - Round of 16

	DRX ban Lotus
	BBL ban Fracture
	DRX pick Pearl
	BBL pick Ascent
	DRX ban Split
	BBL ban Icebox
	Haven remains
Overall

Type           Name Team     R              ACS             K      ... HS%  \
Side           Name Team   all   atk   def  all  atk  def all atk  ... def
0         QutionerX  BBL  0.95  0.50  1.22  241  154  303  51  12  ...  38
1             Brave  BBL  0.85  1.02  0.70  206  258  178  41  22  ...  36
2           SouhcNi  BBL  0.84  0.66  0.94  154  132  170  33  11  ...  28
3             Turko  BBL  0.82  0.82  0.94  129  129  144  30  12  ...  25
4     AsLanM4shadoW  BBL  0.77  0.99  0.62  149  204  112  33  19  ...  19

Type  FK          FD         +/–.1
Side all atk def all atk def   all atk def
0     11   5   6  12  10   2    -1  -5  +4
1      8   2   6   6   2   4    +2   0  +2
2      3   0   3   7   1   6    -4  -1  -3
3      2   0   2   5   2   3    -3  -2  -1
4      2   1   1   4   1   3    -2   0  -2

[5 rows x 38 columns]

Type  Name Team     R              ACS             K      ... HS%  FK          \
Side  Name Team   all   atk   def  all  atk  def all atk  ... def all atk def
0       Rb  DRX  1.31  1.42  1.23  225  232  214  48  30  ...  28   8   5   3
1     MaKo  DRX  1.24  1.17  1.32  212  210  205  39  25  ...  23   4   2   2
2     stax  DRX  1.15  1.13  1.13  227  233  223  49  30  ...  28   4   4   0
3     BuZz  DRX  1.13  1.05  1.17  255  261  231  52  33  ...  13  16   7   9
4     Zest  DRX  1.06  0.94  1.27  182  151  231  41  20  ...  41   2   0   2

Type  FD         +/–.1
Side all atk def   all atk def
0      5   3   2    +3  +2  +1
1      2   1   1    +2  +1  +1
2      3   2   1    +1  +2  -1
3     10   8   2    +6  -1  +7
4      6   4   2    -4  -4   0

[5 rows x 38 columns]

Pearl 55:04

Type           Name Team     R              ACS             K      ... HS%  \
Side           Name Team   all   atk   def  all  atk  def all atk  ... def
0         QutionerX  BBL  1.05  0.02  1.41  242   21  316  14   0  ...  50
1           SouhcNi  BBL  0.73  0.10  0.94  142   23  182   8   0  ...  32
2     AsLanM4shadoW  BBL  0.56  0.56  0.56  157  183  149   8   2  ...  12
3             Brave  BBL  0.55  0.25  0.65  181  197  177  10   3  ...  53
4             Turko  BBL  0.53  0.87  0.42   82  142   63   4   2  ...   9

Type  FK          FD         +/–.1
Side all atk def all atk def   all atk def
0      2   0   2   3   2   1    -1  -2  +1
1      1   0   1   3   0   3    -2   0  -2
2      2   1   1   0   0   0    +2  +1  +1
3      2   0   2   2   1   1     0  -1  +1
4      0   0   0   1   0   1    -1   0  -1

[5 rows x 38 columns]

Type  Name Team     R              ACS             K      ... HS%  FK          \
Side  Name Team   all   atk   def  all  atk  def all atk  ... def all atk def
0       Rb  DRX  1.58  1.37  2.19  198  168  291  12   7  ...  23   1   0   1
1     MaKo  DRX  1.38  1.35  1.48  273  290  224  14  12  ...  18   1   1   0
2     BuZz  DRX  1.30  1.24  1.48  311  312  309  18  14  ...   0   6   4   2
3     Zest  DRX  1.16  0.97  1.74  194  173  262  13   7  ...  42   0   0   0
4     stax  DRX  1.13  1.08  1.26  212  217  200  12   9  ...  20   1   1   0

Type  FD         +/–.1
Side all atk def   all atk def
0      0   0   0    +1   0  +1
1      0   0   0    +1  +1   0
2      2   2   0    +4  +2  +2
3      2   2   0    -2  -2   0
4      3   2   1    -2  -1  -1

[5 rows x 38 columns]

Ascent 51:09

Type           Name Team     R              ACS             K      ... HS%  \
Side           Name Team   all   atk   def  all  atk  def all atk  ... def
0             Turko  BBL  1.43  0.66  2.19  214  117  311  20   5  ...  34
1     AsLanM4shadoW  BBL  0.97  1.07  0.88  150  212   88  15  11  ...  24
2           SouhcNi  BBL  0.96  0.43  1.48  153   87  219  13   3  ...  19
3             Brave  BBL  0.96  0.89  1.03  220  233  209  17  10  ...  28
4         QutionerX  BBL  0.93  0.37  1.49  269  169  370  23   6  ...  21

Type  FK          FD         +/–.1
Side all atk def all atk def   all atk def
0      2   0   2   1   1   0    +1  -1  +2
1      0   0   0   1   1   0    -1  -1   0
2      2   0   2   1   0   1    +1   0  +1
3      4   1   3   1   1   0    +3   0  +3
4      7   3   4   5   5   0    +2  -2  +4

[5 rows x 38 columns]

Type  Name Team     R              ACS             K      ... HS%  FK          \
Side  Name Team   all   atk   def  all  atk  def all atk  ... def all atk def
0     MaKo  DRX  1.21  1.02  1.41  207  186  229  15   7  ...  29   1   0   1
1     stax  DRX  1.10  0.68  1.53  229  180  280  19   7  ...  28   0   0   0
2     Zest  DRX  1.05  0.63  1.47  200  151  250  17   7  ...  41   0   0   0
3     BuZz  DRX  0.89  0.22  1.56  211  119  304  17   4  ...  11   6   0   6
4       Rb  DRX  0.83  0.66  1.00  187  181  194  14   6  ...  24   2   1   1

Type  FD         +/–.1
Side all atk def   all atk def
0      2   1   1    -1  -1   0
1      0   0   0     0   0   0
2      3   2   1    -3  -2  -1
3      5   5   0    +1  -5  +6
4      5   3   2    -3  -2  -1

[5 rows x 38 columns]

<Response [200 OK]>
4 >> Cloud9 2:0 Paper Rex

	Wednesday, February 15th 7:05 AM +07 Patch 6.02

	Bracket Stage: Alpha - Round of 16

	PRX ban Icebox
	C9 ban Ascent
	PRX pick Lotus
	C9 pick Pearl
	PRX ban Split
	C9 ban Haven
	Fracture remains
Overall

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0        leaf   C9  1.49  1.40  1.60  279  251  301  38  20  ...  19   3   1
1      Xeppaa   C9  1.47  1.57  1.41  278  273  279  42  23  ...  28   6   4
2         yay   C9  1.20  1.36  0.92  217  235  204  30  18  ...  38   7   3
3      vanity   C9  1.16  1.25  1.03  164  182  149  22  13  ...  19   3   2
4     Zellsis   C9  1.10  1.44  0.83  221  265  159  26  18  ...  20   3   3

Type      FD         +/–.1
Side def all atk def   all atk def
0      2   1   1   0    +2   0  +2
1      2   2   2   0    +4  +2  +2
2      4   5   2   3    +2  +1  +1
3      1   2   1   1    +1  +1   0
4      0   6   2   4    -3  +1  -4

[5 rows x 38 columns]

Type       Name Team     R              ACS             K      ... HS%  FK  \
Side       Name Team   all   atk   def  all  atk  def all atk  ... def all
0        Jinggg  PRX  0.97  1.05  0.72  204  284  145  27  17  ...  18   1
1      f0rsakeN  PRX  0.75  0.72  0.79  210  236  195  25  13  ...  27  10
2     mindfreak  PRX  0.72  0.89  0.47  163  167  161  21  10  ...  19   2
3        Benkai  PRX  0.71  0.63  0.83  166  121  204  21   6  ...  23   2
4         d4v41  PRX  0.63  0.90  0.41  139  159  119  16   9  ...  30   1

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      1   0   3   1   2    -2   0  -2
1      5   5   6   3   3    +4  +2  +2
2      1   1   6   3   3    -4  -2  -2
3      0   2   4   1   3    -2  -1  -1
4      1   0   3   1   2    -2   0  -2

[5 rows x 38 columns]

Lotus 52:12

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0      Xeppaa   C9  1.30  1.49  1.16  251  244  256  21   9  ...  26   4   2
1        leaf   C9  1.27  1.17  1.35  222  199  241  17   6  ...  17   1   0
2      vanity   C9  1.26  1.35  1.18  193  225  170  14   7  ...  13   1   0
3         yay   C9  1.24  1.35  1.16  255  258  253  19   8  ...  47   4   1
4     Zellsis   C9  0.95  1.61  0.45  186  267  126  13   9  ...  23   2   2

Type      FD         +/–.1
Side def all atk def   all atk def
0      2   0   0   0    +4  +2  +2
1      1   1   1   0     0  -1  +1
2      1   0   0   0    +1   0  +1
3      3   3   2   1    +1  -1  +2
4      0   5   1   4    -3  +1  -4

[5 rows x 38 columns]

Type       Name Team     R              ACS             K      ... HS%  FK  \
Side       Name Team   all   atk   def  all  atk  def all atk  ... def all
0        Jinggg  PRX  1.07  1.56  0.43  227  336   83  16  14  ...   0   0
1      f0rsakeN  PRX  0.94  0.89  1.01  240  244  236  17  10  ...  27   6
2        Benkai  PRX  0.86  0.70  1.08  173  127  235  13   4  ...  36   1
3     mindfreak  PRX  0.72  1.13  0.18  164  206  109  12   9  ...   6   2
4         d4v41  PRX  0.63  0.87  0.31  116  143   82   7   5  ...  30   0

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      0   0   2   1   1    -2  -1  -1
1      4   2   3   2   1    +3  +2  +1
2      0   1   2   1   1    -1  -1   0
3      1   1   4   2   2    -2  -1  -1
4      0   0   1   1   0    -1  -1   0

[5 rows x 38 columns]

Pearl 39:51

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0        leaf   C9  1.70  1.63  1.86  335  290  445  21  14  ...  21   2   1
1      Xeppaa   C9  1.65  1.65  1.66  305  294  333  21  14  ...  31   2   2
2     Zellsis   C9  1.26  1.27  1.21  255  263  236  13   9  ...  17   1   1
3         yay   C9  1.16  1.36  0.68  178  217   88  11  10  ...   0   3   2
4      vanity   C9  1.07  1.15  0.88  134  149  100   8   6  ...  67   2   2

Type      FD         +/–.1
Side def all atk def   all atk def
0      1   0   0   0    +2  +1  +1
1      0   2   2   0     0   0   0
2      0   1   1   0     0   0   0
3      1   2   0   2    +1  +2  -1
4      0   2   1   1     0  +1  -1

[5 rows x 38 columns]

Type       Name Team     R              ACS             K      ... HS%  FK  \
Side       Name Team   all   atk   def  all  atk  def all atk  ... def all
0        Jinggg  PRX  0.87  0.54  1.01  181  159  191  11   3  ...  31   1
1     mindfreak  PRX  0.72  0.64  0.75  162   75  200   9   1  ...  27   0
2         d4v41  PRX  0.63  0.92  0.50  161  198  146   9   4  ...  29   1
3      f0rsakeN  PRX  0.57  0.54  0.58  180  216  165   8   3  ...  27   4
4        Benkai  PRX  0.56  0.55  0.57  158  107  180   8   2  ...  15   1

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      1   0   1   0   1     0  +1  -1
1      0   0   2   1   1    -2  -1  -1
2      1   0   2   0   2    -1  +1  -2
3      1   3   3   1   2    +1   0  +1
4      0   1   2   0   2    -1   0  -1

[5 rows x 38 columns]

<Response [200 OK]>
5 >> Team Heretics 0:2 Evil Geniuses

	Thursday, February 16th 12:00 AM +07 Patch 6.02

	Bracket Stage: Alpha - Round of 16

	EG ban Lotus
	TH ban Icebox
	EG pick Pearl
	TH pick Ascent
	EG ban Fracture
	TH ban Split
	Haven remains
Overall

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0      keloqz   TH  1.08  0.47  1.60  252  147  357  38  10  ...  37  10   4
1     Mixwell   TH  1.08  1.06  1.00  223  243  204  30  16  ...  27   3   1
2        zeek   TH  1.02  0.90  1.15  221  209  233  32  15  ...  28   3   1
3         Boo   TH  0.77  0.49  1.01  125   90  161  19   6  ...  33   0   0
4       AvovA   TH  0.67  0.66  0.65  148  160  136  20  11  ...  27   3   1

Type      FD         +/–.1
Side def all atk def   all atk def
0      6   7   6   1    +3  -2  +5
1      2   2   1   1    +1   0  +1
2      2   7   3   4    -4  -2  -2
3      0   5   3   2    -5  -3  -2
4      2   2   1   1    +1   0  +1

[5 rows x 38 columns]

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0       Ethan   EG  1.49  1.15  1.87  303  287  320  45  22  ...  21   7   2
1         BcJ   EG  1.12  0.92  1.38  191  141  241  27   8  ...  15   2   1
2     Boostio   EG  1.05  1.04  1.12  211  223  199  33  19  ...  24   0   0
3         C0M   EG  1.01  0.90  1.21  184  157  211  27  12  ...   9   4   1
4     jawgemo   EG  1.00  0.77  1.19  220  201  238  33  15  ...  25  10   5

Type      FD         +/–.1
Side def all atk def   all atk def
0      5   2   2   0    +5   0  +5
1      1   5   4   1    -3  -3   0
2      0   4   3   1    -4  -3  -1
3      3   1   0   1    +3  +1  +2
4      5   7   3   4    +3  +2  +1

[5 rows x 38 columns]

Pearl 55:42

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0      keloqz   TH  1.25  0.23  2.03  278   98  413  23   3  ...  38   5   1
1        zeek   TH  1.05  0.92  1.14  212  228  201  14   6  ...  21   2   0
2     Mixwell   TH  0.97  0.63  1.23  208  205  210  14   6  ...  23   1   1
3         Boo   TH  0.87  0.43  1.20  139  114  159  11   3  ...  32   0   0
4       AvovA   TH  0.66  0.55  0.74  122  107  134   8   3  ...  30   3   1

Type      FD         +/–.1
Side def all atk def   all atk def
0      4   4   4   0    +1  -3  +4
1      2   3   0   3    -1   0  -1
2      0   0   0   0    +1  +1   0
3      0   3   2   1    -3  -2  -1
4      2   0   0   0    +3  +1  +2

[5 rows x 38 columns]

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0       Ethan   EG  1.32  0.86  1.93  305  269  355  24  12  ...  17   4   1
1         C0M   EG  1.14  0.75  1.65  199  122  303  16   6  ...  11   1   0
2         BcJ   EG  0.98  0.57  1.52  147   94  218  10   2  ...  14   0   0
3     Boostio   EG  0.92  0.72  1.19  171  161  185  13   8  ...  23   0   0
4     jawgemo   EG  0.90  0.82  1.00  191  205  173  14   8  ...  33   5   3

Type      FD         +/–.1
Side def all atk def   all atk def
0      3   1   1   0    +3   0  +3
1      1   0   0   0    +1   0  +1
2      0   3   2   1    -3  -2  -1
3      0   3   3   0    -3  -3   0
4      2   4   2   2    +1  +1   0

[5 rows x 38 columns]

Ascent 48:09

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0     Mixwell   TH  1.18  1.50  0.76  238  272  195  16  10  ...  33   2   0
1        zeek   TH  1.00  0.88  1.15  229  196  276  18   9  ...  34   1   1
2      keloqz   TH  0.91  0.72  1.17  225  183  282  15   7  ...  33   5   3
3       AvovA   TH  0.67  0.76  0.55  173  200  137  12   8  ...  24   0   0
4         Boo   TH  0.66  0.54  0.82  111   72  165   8   3  ...  35   0   0

Type      FD         +/–.1
Side def all atk def   all atk def
0      2   2   1   1     0  -1  +1
1      0   4   3   1    -3  -2  -1
2      2   3   2   1    +2  +1  +1
3      0   2   1   1    -2  -1  -1
4      0   2   1   1    -2  -1  -1

[5 rows x 38 columns]

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0       Ethan   EG  1.66  1.45  1.82  301  310  294  21  10  ...  23   3   1
1         BcJ   EG  1.25  1.27  1.24  234  203  259  17   6  ...  16   2   1
2     Boostio   EG  1.18  1.35  1.04  251  307  210  20  11  ...  26   0   0
3     jawgemo   EG  1.09  0.72  1.37  248  196  287  19   7  ...  22   5   2
4         C0M   EG  0.88  1.04  0.76  168  204  143  11   6  ...   5   3   1

Type      FD         +/–.1
Side def all atk def   all atk def
0      2   1   1   0    +2   0  +2
1      1   2   2   0     0  -1  +1
2      0   1   0   1    -1   0  -1
3      3   3   1   2    +2  +1  +1
4      2   1   0   1    +2  +1  +1

[5 rows x 38 columns]

<Response [200 OK]>
6 >> MIBR 0:2 Talon Esports

	Thursday, February 16th 2:35 AM +07 Patch 6.02

	Bracket Stage: Alpha - Round of 16

	MIBR ban Ascent
	TLN ban Lotus
	MIBR pick Haven
	TLN pick Fracture
	MIBR ban Split
	TLN ban Pearl
	Icebox remains
Overall

Type        Name  Team     R              ACS             K      ... HS%  FK  \
Side        Name  Team   all   atk   def  all  atk  def all atk  ... def all
0            frz  MIBR  1.10  0.96  1.32  223  201  247  37  17  ...  28   5
1        murizzz  MIBR  1.08  0.81  1.36  200  161  243  32  14  ...  33   5
2           heat  MIBR  1.02  0.94  1.10  250  255  237  37  20  ...  27   8
3            jzz  MIBR  0.92  0.84  1.01  194  176  227  32  14  ...  33   3
4     RgLMeister  MIBR  0.84  0.72  0.98  175  185  162  23  13  ...  15   2

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      3   2   2   2   0    +3  +1  +2
1      1   4   5   4   1     0  -3  +3
2      5   3  10   6   4    -2  -1  -1
3      0   3   2   2   0    +1  -2  +3
4      0   2   3   1   2    -1  -1   0

[5 rows x 38 columns]

Type       Name Team     R              ACS             K      ... HS%  FK  \
Side       Name Team   all   atk   def  all  atk  def all atk  ... def all
0     Sushiboys  TLN  1.21  1.20  1.25  230  228  231  37  17  ...  27   4
1          foxz  TLN  1.10  1.09  1.10  226  261  199  36  20  ...  19   3
2          Crws  TLN  1.08  0.92  1.19  205  164  233  30  11  ...  33   4
3       garnetS  TLN  0.93  0.62  1.20  238  183  284  34  11  ...  34   8
4       JitBoyS  TLN  0.87  0.54  1.15  172  147  202  30  11  ...  24   3

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      2   2   3   2   1    +1   0  +1
1      2   1   5   2   3    -2   0  -2
2      0   4   3   1   2    +1  -1  +2
3      2   6   6   4   2    +2  -2  +4
4      1   2   6   5   1    -3  -4  +1

[5 rows x 38 columns]

Haven 55:30

Type        Name  Team     R              ACS             K      ... HS%  FK  \
Side        Name  Team   all   atk   def  all  atk  def all atk  ... def all
0           heat  MIBR  1.27  1.21  1.35  309  324  291  22  13  ...  25   3
1            frz  MIBR  1.25  0.86  1.78  243  174  336  18   6  ...  24   3
2        murizzz  MIBR  1.12  1.09  1.16  203  202  204  17  10  ...  33   2
3     RgLMeister  MIBR  0.70  0.59  0.84  183  203  157  11   8  ...  11   1
4            jzz  MIBR  0.50  0.50  0.51  119  134  101   9   5  ...  50   1

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      2   1   5   3   2    -2  -1  -1
1      2   1   0   0   0    +3  +2  +1
2      1   1   2   1   1     0   0   0
3      0   1   2   1   1    -1  -1   0
4      0   1   2   2   0    -1  -2  +1

[5 rows x 38 columns]

Type       Name Team     R              ACS             K      ... HS%  FK  \
Side       Name Team   all   atk   def  all  atk  def all atk  ... def all
0          Crws  TLN  1.44  0.97  1.79  278  171  358  21   5  ...  37   4
1     Sushiboys  TLN  1.36  1.68  1.13  237  280  206  18   9  ...  30   2
2       garnetS  TLN  0.95  0.70  1.14  258  192  308  18   5  ...  33   3
3          foxz  TLN  0.90  0.86  0.92  199  192  206  15   7  ...  23   0
4       JitBoyS  TLN  0.62  0.24  0.91  113   78  139   8   2  ...  38   2

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      0   4   1   0   1    +3   0  +3
1      2   0   1   0   1    +1  +2  -1
2      1   2   4   3   1    -1  -2  +1
3      0   0   2   0   2    -2   0  -2
4      1   1   2   2   0     0  -1  +1

[5 rows x 38 columns]

Fracture 55:15

Type        Name  Team     R              ACS             K      ... HS%  FK  \
Side        Name  Team   all   atk   def  all  atk  def all atk  ... def all
0            jzz  MIBR  1.34  1.18  1.51  269  218  321  23   9  ...  30   2
1        murizzz  MIBR  1.04  0.53  1.56  196  120  272  15   4  ...  33   3
2     RgLMeister  MIBR  0.99  0.86  1.12  166  167  165  12   5  ...  18   1
3            frz  MIBR  0.96  1.06  0.85  203  228  180  19  11  ...  35   2
4           heat  MIBR  0.76  0.67  0.86  191  186  197  15   7  ...  29   5

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      0   2   0   0   0    +2   0  +2
1      0   3   3   3   0     0  -3  +3
2      0   1   1   0   1     0   0   0
3      1   1   2   2   0     0  -1  +1
4      3   2   5   3   2     0   0   0

[5 rows x 38 columns]

Type       Name Team     R              ACS             K      ... HS%  FK  \
Side       Name Team   all   atk   def  all  atk  def all atk  ... def all
0          foxz  TLN  1.30  1.31  1.28  252  313  193  21  13  ...  14   3
1       JitBoyS  TLN  1.11  0.84  1.39  231  198  264  22   9  ...  19   1
2     Sushiboys  TLN  1.05  0.73  1.37  222  189  256  19   8  ...  25   2
3       garnetS  TLN  0.90  0.55  1.25  218  177  259  16   6  ...  35   5
4          Crws  TLN  0.73  0.87  0.58  132  158  108   9   6  ...  18   0

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      2   1   3   2   1     0   0   0
1      0   1   4   3   1    -3  -3   0
2      0   2   2   2   0     0  -2  +2
3      1   4   2   1   1    +3   0  +3
4      0   0   2   1   1    -2  -1  -1

[5 rows x 38 columns]

<Response [200 OK]>
7 >> Gen.G 0:2 LOUD

	Thursday, February 16th 5:20 AM +07 Patch 6.02

	Bracket Stage: Alpha - Round of 16

	LOUD ban Haven
	GEN ban Icebox
	LOUD pick Pearl
	GEN pick Fracture
	LOUD ban Lotus
	GEN ban Ascent
	Split remains
Overall

Type    Name Team     R              ACS             K      ... HS%  FK      \
Side    Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0       k1Ng  GEN  1.36  1.43  1.30  268  240  294  44  21  ...  44   5   1
1         TS  GEN  1.08  1.31  0.83  193  223  174  37  21  ...  12   4   4
2     Meteor  GEN  0.93  1.19  0.65  239  306  172  39  27  ...  24  10   7
3        eKo  GEN  0.84  0.87  0.80  158  152  164  24  13  ...  20   5   2
4     Secret  GEN  0.81  0.85  0.77  146  136  157  25  13  ...  17   0   0

Type      FD         +/–.1
Side def all atk def   all atk def
0      4   1   1   0    +4   0  +4
1      0   6   2   4    -2  +2  -4
2      3   5   3   2    +5  +4  +1
3      3   7   4   3    -2  -2   0
4      0   5   1   4    -5  -1  -4

[5 rows x 38 columns]

Type      Name  Team     R              ACS             K      ... HS%  FK  \
Side      Name  Team   all   atk   def  all  atk  def all atk  ... def all
0     cauanzin  LOUD  1.13  1.28  1.00  251  253  240  41  20  ...  29   2
1        aspas  LOUD  1.10  1.06  1.12  210  230  193  35  18  ...  11   8
2      saadhak  LOUD  1.06  1.50  0.69  223  267  183  34  22  ...   9   9
3         Less  LOUD  0.98  1.03  0.94  182  217  153  31  18  ...  23   5
4         tuyz  LOUD  0.97  1.05  0.90  177  188  177  32  16  ...  43   0

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      1   1   3   1   2    -1   0  -1
1      5   3   8   3   5     0  +2  -2
2      5   4   8   2   6    +1  +3  -2
3      2   3   3   3   0    +2  -1  +3
4      0   0   2   1   1    -2  -1  -1

[5 rows x 38 columns]

Pearl 1:00:51

Type    Name Team     R              ACS             K      ... HS%  FK      \
Side    Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0       k1Ng  GEN  1.53  1.49  1.57  291  256  335  21  10  ...  41   2   0
1        eKo  GEN  0.98  1.03  0.92  170  167  176  12   7  ...  23   2   1
2         TS  GEN  0.89  1.18  0.55  128  155   98  10   7  ...   6   1   1
3     Secret  GEN  0.87  0.98  0.73  153  158  149  13   7  ...  10   0   0
4     Meteor  GEN  0.76  1.02  0.46  213  266  151  15  11  ...  25   7   4

Type      FD         +/–.1
Side def all atk def   all atk def
0      2   1   1   0    +1  -1  +2
1      1   1   0   1    +1  +1   0
2      0   5   2   3    -4  -1  -3
3      0   1   1   0    -1  -1   0
4      3   2   2   0    +5  +2  +3

[5 rows x 38 columns]

Type      Name  Team     R              ACS             K      ... HS%  FK  \
Side      Name  Team   all   atk   def  all  atk  def all atk  ... def all
0     cauanzin  LOUD  1.27  1.51  1.07  316  368  273  25  12  ...  27   1
1      saadhak  LOUD  1.26  2.12  0.53  228  358  120  16  13  ...  15   4
2        aspas  LOUD  1.11  0.85  1.33  203  160  239  15   5  ...  20   4
3         Less  LOUD  0.83  0.82  0.84  169  211  134  12   7  ...  50   1
4         tuyz  LOUD  0.80  0.86  0.75  114  119  111  10   5  ...  45   0

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      1   0   1   1   0     0   0   0
1      2   2   3   0   3    +1  +2  -1
2      1   3   5   3   2    -1  -2  +1
3      0   1   1   1   0     0  -1  +1
4      0   0   2   1   1    -2  -1  -1

[5 rows x 38 columns]

Fracture 1:00:57

Type    Name Team     R              ACS             K      ... HS%  FK      \
Side    Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0         TS  GEN  1.28  1.45  1.11  258  285  232  27  14  ...  14   3   3
1       k1Ng  GEN  1.20  1.36  1.04  244  226  262  23  11  ...  50   3   1
2     Meteor  GEN  1.10  1.36  0.85  265  344  187  24  16  ...  24   3   3
3     Secret  GEN  0.76  0.71  0.80  139  117  163  12   6  ...  27   0   0
4        eKo  GEN  0.70  0.72  0.69  146  139  155  12   6  ...  17   3   1

Type      FD         +/–.1
Side def all atk def   all atk def
0      0   1   0   1    +2  +3  -1
1      2   0   0   0    +3  +1  +2
2      0   3   1   2     0  +2  -2
3      0   4   0   4    -4   0  -4
4      2   6   4   2    -3  -3   0

[5 rows x 38 columns]

Type      Name  Team     R              ACS             K      ... HS%  FK  \
Side      Name  Team   all   atk   def  all  atk  def all atk  ... def all
0         tuyz  LOUD  1.14  1.23  1.06  239  241  238  22  11  ...  42   0
1         Less  LOUD  1.14  1.24  1.04  195  221  171  19  11  ...  15   4
2        aspas  LOUD  1.09  1.27  0.91  217  284  151  20  13  ...   5   4
3     cauanzin  LOUD  0.99  1.05  0.93  186  164  210  16   8  ...  32   1
4      saadhak  LOUD  0.86  0.87  0.84  218  197  240  18   9  ...   7   5

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      0   0   0   0   0     0   0   0
1      2   2   2   2   0    +2   0  +2
2      4   0   3   0   3    +1  +4  -3
3      0   1   2   0   2    -1   0  -1
4      3   2   5   2   3     0  +1  -1

[5 rows x 38 columns]

<Response [200 OK]>
8 >> NRG Esports 2:1 Giants Gaming

	Saturday, February 18th 12:05 AM +07 Patch 6.02

	Bracket Stage: Alpha - Quarterfinals

	NRG ban Ascent
	GIA ban Fracture
	NRG pick Lotus
	GIA pick Haven
	NRG ban Pearl
	GIA ban Split
	Icebox remains
Overall

Type      Name Team     R              ACS             K      ... HS%  FK      \
Side      Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0     crashies  NRG  1.22  0.87  1.63  207  162  225  39  18  ...  18   5   2
1       ardiis  NRG  1.22  1.07  1.69  250  244  240  50  26  ...  24  12   7
2          s0m  NRG  1.19  1.35  0.89  223  248  209  49  30  ...  31   3   0
3       Victor  NRG  1.09  0.77  1.40  205  180  212  41  23  ...  23   7   1
4          FNS  NRG  0.97  0.99  1.00  194  199  208  43  23  ...  13   7   3

Type      FD         +/–.1
Side def all atk def   all atk def
0      3   1   1   0    +4  +1  +3
1      5   8   6   2    +4  +1  +3
2      3   5   5   0    -2  -5  +3
3      6   5   3   2    +2  -2  +4
4      4   8   6   2    -1  -3  +2

[5 rows x 38 columns]

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0       Cloud  GIA  1.05  0.88  1.29  198  128  236  38  12  ...  26   9   0
1     Fit1nho  GIA  0.99  0.71  1.17  232  254  246  52  25  ...  21  12   5
2      nukkye  GIA  0.95  0.70  1.04  170  180  174  36  15  ...  22   1   1
3       hoody  GIA  0.77  0.70  0.86  176  173  177  34  15  ...  21   1   0
4       rhyme  GIA  0.67  0.72  0.61  138  177  124  29  16  ...  40   3   0

Type      FD         +/–.1
Side def all atk def   all atk def
0      9   4   1   3    +5  -1  +6
1      7  10   9   1    +2  -4  +6
2      0   1   1   0     0   0   0
3      1   6   4   2    -5  -4  -1
4      3  12   5   7    -9  -5  -4

[5 rows x 38 columns]

Lotus 1:12:23

Type      Name Team     R              ACS             K      ... HS%  FK      \
Side      Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0          s0m  NRG  1.09  1.39  0.78  211  266  158  20  13  ...  44   1   0
1          FNS  NRG  1.02  1.13  0.92  252  237  268  23  11  ...  11   5   2
2     crashies  NRG  0.80  0.58  1.03  148  133  164  12   4  ...  25   0   0
3       ardiis  NRG  0.80  0.92  0.68  196  205  188  16   8  ...  31   5   4
4       Victor  NRG  0.66  0.59  0.74  136  123  150  11   7  ...  13   3   0

Type      FD         +/–.1
Side def all atk def   all atk def
0      1   1   1   0     0  -1  +1
1      3   4   3   1    +1  -1  +2
2      0   0   0   0     0   0   0
3      1   2   0   2    +3  +4  -1
4      3   5   3   2    -2  -3  +1

[5 rows x 38 columns]

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0     Fit1nho  GIA  1.74  1.94  1.54  383  459  308  35  22  ...  16   5   4
1      nukkye  GIA  1.33  1.51  1.15  212  265  159  19  11  ...  10   1   1
2       rhyme  GIA  0.96  1.30  0.62  193  249  138  17  11  ...  44   1   0
3       Cloud  GIA  0.94  0.68  1.20  127   72  184  12   4  ...  27   4   0
4       hoody  GIA  0.81  0.79  0.83  133  124  143  12   6  ...  17   1   0

Type      FD         +/–.1
Side def all atk def   all atk def
0      1   1   1   0    +4  +3  +1
1      0   0   0   0    +1  +1   0
2      1   6   3   3    -5  -3  -2
3      4   3   1   2    +1  -1  +2
4      1   4   3   1    -3  -3   0

[5 rows x 38 columns]

Haven 36:08

Type      Name Team     R              ACS             K      ... HS%  FK      \
Side      Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0     crashies  NRG  1.73  1.65  2.26  312  273  546  17  13  ...   5   2   2
1       ardiis  NRG  1.41  1.19  2.70  281  274  329  14  11  ...  43   2   2
2       Victor  NRG  1.35  1.30  1.66  249  266  149  14  12  ...  20   1   1
3          FNS  NRG  0.96  0.92  1.17  170  163  219   8   7  ...  13   1   0
4          s0m  NRG  0.95  1.04  0.40  149  163   66   6   6  ...   0   0   0

Type      FD         +/–.1
Side def all atk def   all atk def
0      0   0   0   0    +2  +2   0
1      0   2   2   0     0   0   0
2      0   0   0   0    +1  +1   0
3      1   4   3   1    -3  -3   0
4      0   2   2   0    -2  -2   0

[5 rows x 38 columns]

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0       Cloud  GIA  1.23  1.30  1.22  238  368  217  11   3  ...  37   3   0
1     Fit1nho  GIA  0.86  0.16  0.97  212  183  217  10   1  ...  38   4   1
2      nukkye  GIA  0.78  0.08  0.90  145   61  160   7   0  ...  40   0   0
3       hoody  GIA  0.46  0.45  0.46  145   80  156   5   0  ...  30   0   0
4       rhyme  GIA  0.27  0.22  0.28   89  139   81   4   1  ...  40   1   0

Type      FD         +/–.1
Side def all atk def   all atk def
0      3   1   0   1    +2   0  +2
1      3   0   0   0    +4  +1  +3
2      0   0   0   0     0   0   0
3      0   1   0   1    -1   0  -1
4      1   4   1   3    -3  -1  -2

[5 rows x 38 columns]

<Response [200 OK]>
9 >> LOUD 2:0 Karmine Corp

	Saturday, February 18th 3:35 AM +07 Patch 6.02

	Bracket Stage: Alpha - Quarterfinals

	LOUD ban Icebox
	KC ban Ascent
	LOUD pick Pearl
	KC pick Split
	LOUD ban Lotus
	KC ban Haven
	Fracture remains
Overall

Type      Name  Team     R              ACS             K      ... HS%  FK  \
Side      Name  Team   all   atk   def  all  atk  def all atk  ... def all
0         Less  LOUD  1.60  1.72  1.45  309  329  287  49  30  ...  31   8
1         tuyz  LOUD  1.07  1.00  1.16  173  174  178  28  15  ...  21   2
2        aspas  LOUD  0.98  1.07  0.88  186  208  152  28  18  ...  23   6
3     cauanzin  LOUD  0.90  0.79  1.00  176  146  214  26  13  ...  24   4
4      saadhak  LOUD  0.87  0.88  0.90  186  197  172  29  16  ...  21   6

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      5   3   2   0   2    +6  +5  +1
1      2   0   2   0   2     0  +2  -2
2      4   2   4   3   1    +2  +1  +1
3      2   2   4   2   2     0   0   0
4      3   3   6   3   3     0   0   0

[5 rows x 38 columns]

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0      Nivera   KC  1.25  1.50  1.05  256  333  193  39  24  ...  32   5   2
1        sh1n   KC  0.99  1.24  0.77  273  375  187  40  28  ...  14   8   5
2     Newzera   KC  0.96  0.72  1.17  168   86  239  28   8  ...  49   3   2
3      ScreaM   KC  0.74  0.40  1.01  131   68  184  19   4  ...  39   0   0
4         xms   KC  0.73  0.72  0.73  154  136  170  22  10  ...  19   2   1

Type      FD         +/–.1
Side def all atk def   all atk def
0      3   5   0   5     0  +2  -2
1      3   3   1   2    +5  +4  +1
2      1   6   4   2    -3  -2  -1
3      0   8   4   4    -8  -4  -4
4      1   4   1   3    -2   0  -2

[5 rows x 38 columns]

Pearl 1:07:15

Type      Name  Team     R              ACS             K      ... HS%  FK  \
Side      Name  Team   all   atk   def  all  atk  def all atk  ... def all
0         Less  LOUD  1.71  1.73  1.68  328  337  318  26  15  ...  29   3
1         tuyz  LOUD  1.43  1.43  1.43  225  248  202  21  12  ...  38   1
2     cauanzin  LOUD  0.94  0.62  1.30  187  127  252  15   6  ...  25   3
3      saadhak  LOUD  0.81  1.06  0.53  170  229  108  13   9  ...  40   2
4        aspas  LOUD  0.58  0.73  0.41  114  162   63   9   7  ...  17   3

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      2   1   1   0   1    +2  +2   0
1      1   0   1   0   1     0  +1  -1
2      1   2   3   2   1     0  -1  +1
3      1   1   3   0   3    -1  +1  -2
4      3   0   3   2   1     0  +1  -1

[5 rows x 38 columns]

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0      Nivera   KC  1.29  1.41  1.19  274  330  223  23  13  ...  31   4   2
1        sh1n   KC  1.13  1.55  0.74  265  377  163  21  16  ...  13   4   3
2     Newzera   KC  0.89  0.62  1.15  195  109  274  16   5  ...  50   3   2
3         xms   KC  0.75  0.82  0.68  155  120  188  10   4  ...  13   0   0
4      ScreaM   KC  0.65  0.43  0.84  117   56  174   9   2  ...  35   0   0

Type      FD         +/–.1
Side def all atk def   all atk def
0      2   2   0   2    +2  +2   0
1      1   1   0   1    +3  +3   0
2      1   4   2   2    -1   0  -1
3      0   0   0   0     0   0   0
4      0   5   2   3    -5  -2  -3

[5 rows x 38 columns]

Split 49:40

Type      Name  Team     R              ACS             K      ... HS%  FK  \
Side      Name  Team   all   atk   def  all  atk  def all atk  ... def all
0         Less  LOUD  1.50  1.71  1.21  290  320  250  23  15  ...  35   5
1        aspas  LOUD  1.37  1.40  1.34  257  254  262  19  11  ...  25   3
2      saadhak  LOUD  0.94  0.70  1.27  201  165  250  16   7  ...  15   4
3     cauanzin  LOUD  0.85  0.97  0.69  165  164  166  11   7  ...  24   1
4         tuyz  LOUD  0.71  0.57  0.89  120  101  148   7   3  ...   5   1

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      3   2   1   0   1    +4  +3  +1
1      1   2   1   1   0    +2   0  +2
2      2   2   3   3   0    +1  -1  +2
3      1   0   1   0   1     0  +1  -1
4      1   0   1   0   1     0  +1  -1

[5 rows x 38 columns]

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0      Nivera   KC  1.21  1.59  0.92  237  337  163  16  11  ...  32   1   0
1     Newzera   KC  1.03  0.81  1.20  140   58  203  12   3  ...  47   0   0
2        sh1n   KC  0.85  0.92  0.81  280  373  211  19  12  ...  15   4   2
3      ScreaM   KC  0.83  0.37  1.17  145   82  193  10   2  ...  42   0   0
4         xms   KC  0.71  0.63  0.77  153  156  151  12   6  ...  29   2   1

Type      FD         +/–.1
Side def all atk def   all atk def
0      1   3   0   3    -2   0  -2
1      0   2   2   0    -2  -2   0
2      2   2   1   1    +2  +1  +1
3      0   3   2   1    -3  -2  -1
4      1   4   1   3    -2   0  -2

[5 rows x 38 columns]

<Response [200 OK]>
10 >> DRX 2:1 Cloud9

	Sunday, February 19th 12:05 AM +07 Patch 6.02

	Bracket Stage: Alpha - Quarterfinals

	C9 ban Fracture
	DRX ban Lotus
	C9 pick Pearl
	DRX pick Haven
	C9 ban Ascent
	DRX ban Split
	Icebox remains
Overall

Type  Name Team     R              ACS             K      ... HS%  FK          \
Side  Name Team   all   atk   def  all  atk  def all atk  ... def all atk def
0     MaKo  DRX  1.28  1.32  1.38  234  248  192  38  29  ...  29   7   4   3
1     stax  DRX  1.15  1.11  1.18  236  213  299  41  26  ...  37   4   2   2
2     BuZz  DRX  1.01  0.98  1.18  247  265  204  44  33  ...  27  15  12   3
3       Rb  DRX  0.97  1.01  0.79  181  187  167  32  26  ...  13   3   2   1
4     Zest  DRX  0.91  1.09  0.53  148  176   90  29  25  ...  18   2   2   0

Type  FD         +/–.1
Side all atk def   all atk def
0      3   2   1    +4  +2  +2
1      3   3   0    +1  -1  +2
2      8   4   4    +7  +8  -1
3      5   4   1    -2  -2   0
4      1   1   0    +1  +1   0

[5 rows x 38 columns]

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0         yay   C9  1.05  0.77  1.16  192  161  209  37   9  ...  19   6   2
1     Zellsis   C9  0.99  0.98  0.94  183  205  181  32  11  ...  15   4   1
2        leaf   C9  0.97  1.24  0.87  204  229  191  34  12  ...  30   3   1
3      vanity   C9  0.90  1.08  0.82  171  209  154  27  11  ...  10   4   2
4      Xeppaa   C9  0.89  0.70  0.92  197  209  188  35  14  ...  20   3   0

Type      FD         +/–.1
Side def all atk def   all atk def
0      4   6   2   4     0   0   0
1      3   8   2   6    -4  -1  -3
2      2   6   2   4    -3  -1  -2
3      2   6   0   6    -2  +2  -4
4      3   5   3   2    -2  -3  +1

[5 rows x 38 columns]

Pearl 50:03

Type  Name Team     R              ACS             K      ... HS%  FK          \
Side  Name Team   all   atk   def  all  atk  def all atk  ... def all atk def
0     MaKo  DRX  1.09  0.95  1.49  288  249  408  14   9  ...  36   4   2   2
1     stax  DRX  0.59  0.75  0.08  149  159  120   6   5  ...  29   1   1   0
2     Zest  DRX  0.58  0.70  0.22  158  182   89   7   6  ...  33   1   1   0
3     BuZz  DRX  0.55  0.39  1.04  171  152  232   9   6  ...  17   4   3   1
4       Rb  DRX  0.53  0.69  0.06  114  141   35   7   7  ...   0   0   0   0

Type  FD         +/–.1
Side all atk def   all atk def
0      2   2   0    +2   0  +2
1      1   1   0     0   0   0
2      0   0   0    +1  +1   0
3      2   2   0    +2  +1  +1
4      1   0   1    -1   0  -1

[5 rows x 38 columns]

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0        leaf   C9  1.69  1.90  1.62  314  343  305  19   6  ...  31   1   0
1     Zellsis   C9  1.58  1.37  1.65  251  153  284  14   2  ...  18   1   0
2      Xeppaa   C9  1.29  0.55  1.54  286  253  298  17   5  ...  20   1   0
3      vanity   C9  1.25  1.93  1.02  216  384  161  12   6  ...   4   3   1
4         yay   C9  1.10  0.87  1.18  148  134  153  10   2  ...  13   0   0

Type      FD         +/–.1
Side def all atk def   all atk def
0      1   0   0   0    +1   0  +1
1      1   1   0   1     0   0   0
2      1   3   2   1    -2  -2   0
3      2   4   0   4    -1  +1  -2
4      0   2   1   1    -2  -1  -1

[5 rows x 38 columns]

Haven 46:02

Type  Name Team     R              ACS             K      ... HS%  FK          \
Side  Name Team   all   atk   def  all  atk  def all atk  ... def all atk def
0     MaKo  DRX  1.29  1.68  0.69  194  274   75  14  12  ...  33   1   1   0
1     BuZz  DRX  1.20  1.28  1.08  260  315  179  18  12  ...  40   6   5   1
2     stax  DRX  1.14  0.89  1.52  279  207  388  19   9  ...  33   2   0   2
3       Rb  DRX  1.13  1.10  1.19  197  170  239  11   6  ...  15   2   1   1
4     Zest  DRX  1.09  1.45  0.55  169  219   95  15  13  ...   7   0   0   0

Type  FD         +/–.1
Side all atk def   all atk def
0      1   0   1     0  +1  -1
1      4   1   3    +2  +4  -2
2      1   1   0    +1  -1  +2
3      3   3   0    -1  -2  +1
4      0   0   0     0   0   0

[5 rows x 38 columns]

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0         yay   C9  1.17  0.98  1.30  226  208  239  16   6  ...  29   4   2
1     Zellsis   C9  1.04  1.41  0.80  219  287  175  14   8  ...  11   2   1
2      vanity   C9  0.76  0.84  0.70  151  179  133   9   5  ...  19   1   1
3        leaf   C9  0.72  0.90  0.59  155  181  139  10   4  ...  25   1   0
4      Xeppaa   C9  0.62  0.86  0.45  140  163  125   9   5  ...  14   1   0

Type      FD         +/–.1
Side def all atk def   all atk def
0      2   2   1   1    +2  +1  +1
1      1   3   1   2    -1   0  -1
2      0   2   0   2    -1  +1  -2
3      1   2   1   1    -1  -1   0
4      1   2   1   1    -1  -1   0

[5 rows x 38 columns]

<Response [200 OK]>
11 >> Evil Geniuses 0:2 Talon Esports

	Sunday, February 19th 3:00 AM +07 Patch 6.02

	Bracket Stage: Alpha - Quarterfinals

	EG ban Lotus
	TLN ban Pearl
	EG pick Haven
	TLN pick Split
	EG ban Ascent
	TLN ban Fracture
	Icebox remains
Overall

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0     jawgemo   EG  1.07  0.77  1.37  222  199  243  37  17  ...  17   9   4
1         BcJ   EG  1.01  0.80  1.22  194  185  204  29  12  ...  23   2   0
2         C0M   EG  0.93  0.56  1.29  182  131  230  29   8  ...  15   2   1
3       Ethan   EG  0.93  0.57  1.27  172  135  209  26   9  ...  13   4   3
4     Boostio   EG  0.92  0.43  1.38  200  104  291  32   8  ...  22   4   1

Type      FD         +/–.1
Side def all atk def   all atk def
0      5   6   3   3    +3  +1  +2
1      2   7   5   2    -5  -5   0
2      1   8   4   4    -6  -3  -3
3      1   2   2   0    +2  +1  +1
4      3   3   0   3    +1  +1   0

[5 rows x 38 columns]

Type       Name Team     R              ACS             K      ... HS%  FK  \
Side       Name Team   all   atk   def  all  atk  def all atk  ... def all
0       JitBoyS  TLN  1.23  1.10  1.37  254  243  267  43  19  ...  33   4
1       garnetS  TLN  1.17  0.65  1.71  250  156  349  41  12  ...  18   9
2          foxz  TLN  1.02  1.01  1.02  198  222  174  31  16  ...  22   4
3     Sushiboys  TLN  1.01  0.58  1.47  160  140  180  29  11  ...  33   3
4          Crws  TLN  0.91  0.49  1.35  197  144  251  30  11  ...  25   6

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      3   1   2   1   1    +2  +2   0
1      3   6   3   2   1    +6  +1  +5
2      2   2   4   2   2     0   0   0
3      1   2   6   4   2    -3  -3   0
4      3   3   6   3   3     0   0   0

[5 rows x 38 columns]

Haven 57:00

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0       Ethan   EG  1.08  0.69  1.48  196  137  255  16   5  ...  19   3   2
1         BcJ   EG  1.05  0.84  1.26  196  211  182  15   7  ...  22   1   0
2         C0M   EG  0.88  0.55  1.22  157  114  201  13   4  ...  13   1   0
3     Boostio   EG  0.86  0.56  1.17  183  126  242  14   5  ...  21   1   0
4     jawgemo   EG  0.85  0.30  1.40  192  113  272  17   5  ...  19   3   1

Type      FD         +/–.1
Side def all atk def   all atk def
0      1   1   1   0    +2  +1  +1
1      1   5   3   2    -4  -3  -1
2      1   5   3   2    -4  -3  -1
3      1   1   0   1     0   0   0
4      2   3   2   1     0  -1  +1

[5 rows x 38 columns]

Type       Name Team     R              ACS             K      ... HS%  FK  \
Side       Name Team   all   atk   def  all  atk  def all atk  ... def all
0       JitBoyS  TLN  1.37  1.25  1.50  276  302  252  24  12  ...  26   2
1       garnetS  TLN  1.20  0.66  1.74  256  155  358  21   6  ...  17   6
2     Sushiboys  TLN  1.04  0.70  1.39  155  168  143  14   6  ...  35   1
3          Crws  TLN  1.01  0.44  1.58  193  110  277  14   4  ...  33   3
4          foxz  TLN  0.98  0.92  1.04  192  218  168  16   8  ...  24   3

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      2   0   2   1   1     0  +1  -1
1      1   5   0   0   0    +6  +1  +5
2      1   0   3   2   1    -2  -1  -1
3      1   2   2   2   0    +1  -1  +2
4      1   2   2   1   1    +1   0  +1

[5 rows x 38 columns]

Split 51:55

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0     jawgemo   EG  1.29  1.24  1.33  251  293  214  20  12  ...  16   6   3
1         BcJ   EG  0.98  0.76  1.17  192  156  226  14   5  ...  24   1   0
2         C0M   EG  0.98  0.56  1.36  206  149  258  16   4  ...  18   1   1
3     Boostio   EG  0.97  0.29  1.60  216   81  341  18   3  ...  22   3   1
4       Ethan   EG  0.77  0.45  1.07  148  133  163  10   4  ...   8   1   1

Type      FD         +/–.1
Side def all atk def   all atk def
0      3   3   1   2    +3  +2  +1
1      1   2   2   0    -1  -2  +1
2      0   3   1   2    -2   0  -2
3      2   2   0   2    +1  +1   0
4      0   1   1   0     0   0   0

[5 rows x 38 columns]

Type       Name Team     R              ACS             K      ... HS%  FK  \
Side       Name Team   all   atk   def  all  atk  def all atk  ... def all
0       garnetS  TLN  1.13  0.63  1.68  244  157  340  20   6  ...  20   3
1       JitBoyS  TLN  1.09  0.95  1.24  231  184  283  19   7  ...  41   2
2          foxz  TLN  1.06  1.10  1.01  204  226  181  15   8  ...  19   1
3     Sushiboys  TLN  0.99  0.47  1.55  164  112  221  15   5  ...  32   2
4          Crws  TLN  0.82  0.54  1.12  200  179  224  16   7  ...  14   3

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      2   1   3   2   1     0   0   0
1      1   1   0   0   0    +2  +1  +1
2      1   0   2   1   1    -1   0  -1
3      0   2   3   2   1    -1  -2  +1
4      2   1   4   1   3    -1  +1  -2

[5 rows x 38 columns]

<Response [200 OK]>
12 >> NRG Esports 1:2 LOUD

	Monday, February 20th 12:05 AM +07 Patch 6.02

	Bracket Stage: Alpha - Semifinals

	NRG ban Ascent
	LOUD ban Haven
	NRG pick Split
	LOUD pick Pearl
	NRG ban Icebox
	LOUD ban Lotus
	Fracture remains
Overall

Type      Name Team     R              ACS             K      ... HS%  FK      \
Side      Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0     crashies  NRG  1.09  1.09  1.14  241  249  258  72  32  ...  24   6   3
1       ardiis  NRG  1.04  0.99  1.05  233  269  220  65  32  ...  24  14   5
2          s0m  NRG  0.97  0.79  1.07  191  197  186  50  25  ...  19   8   3
3       Victor  NRG  0.79  0.70  0.83  168  173  159  38  16  ...  16   7   4
4          FNS  NRG  0.73  0.71  0.72  178  192  180  44  20  ...  18   7   2

Type      FD         +/–.1
Side def all atk def   all atk def
0      3   3   2   1    +3  +1  +2
1      9  10   3   7    +4  +2  +2
2      5   9   4   5    -1  -1   0
3      3   8   6   2    -1  -2  +1
4      5   6   3   3    +1  -1  +2

[5 rows x 38 columns]

Type      Name  Team     R              ACS             K      ... HS%  FK  \
Side      Name  Team   all   atk   def  all  atk  def all atk  ... def all
0         tuyz  LOUD  1.26  1.25  1.33  213  217  183  60  36  ...  21   1
1        aspas  LOUD  1.20  1.09  1.35  260  253  252  70  40  ...  30  18
2     cauanzin  LOUD  1.13  1.18  1.03  211  212  217  56  30  ...  22   3
3         Less  LOUD  1.07  0.93  1.25  211  203  237  62  31  ...  22   7
4      saadhak  LOUD  0.89  0.95  0.80  197  193  188  45  26  ...  16   7

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      0   1   1   1   0     0  -1  +1
1      8  10   9   5   4    +9  +3  +6
2      3   0   6   3   3    -3   0  -3
3      4   3   8   5   3    -1  -1   0
4      3   4  18  11   7   -11  -8  -3

[5 rows x 38 columns]

Split 46:42

Type      Name Team     R              ACS             K      ... HS%  FK      \
Side      Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0          s0m  NRG  0.92  0.51  1.06  201  148  219  11   2  ...  41   2   0
1       ardiis  NRG  0.84  0.67  0.90  180  201  173   9   3  ...  31   3   0
2     crashies  NRG  0.66  0.89  0.58  170  247  145  10   4  ...  13   0   0
3       Victor  NRG  0.58  0.37  0.65  171  199  163  10   2  ...  11   3   1
4          FNS  NRG  0.51  0.39  0.55  149  151  150   4   1  ...  12   1   0

Type      FD         +/–.1
Side def all atk def   all atk def
0      2   1   0   1    +1   0  +1
1      3   2   1   1    +1  -1  +2
2      0   1   0   1    -1   0  -1
3      2   3   2   1     0  -1  +1
4      1   0   0   0    +1   0  +1

[5 rows x 38 columns]

Type      Name  Team     R              ACS             K      ... HS%  FK  \
Side      Name  Team   all   atk   def  all  atk  def all atk  ... def all
0         tuyz  LOUD  1.82  1.73  2.11  280  249  375  20  13  ...  20   0
1        aspas  LOUD  1.39  1.32  1.58  309  276  411  19  13  ...  36   4
2      saadhak  LOUD  1.20  1.24  1.07  240  262  176  13  11  ...  13   0
3     cauanzin  LOUD  1.16  1.22  0.97  191  206  148  10   8  ...  25   1
4         Less  LOUD  0.92  0.88  1.03  162  178  116   9   7  ...  10   2

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      0   0   0   0   0     0   0   0
1      1   3   2   2   0    +2  -1  +3
2      0   0   3   3   0    -3  -3   0
3      1   0   1   0   1     0  +1  -1
4      2   0   3   3   0    -1  -1   0

[5 rows x 38 columns]

Pearl 1:05:45

Type      Name Team     R              ACS             K      ... HS%  FK      \
Side      Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0     crashies  NRG  1.34  1.09  1.59  284  207  361  29  11  ...  22   2   1
1       ardiis  NRG  1.31  1.57  1.04  283  386  181  27  18  ...  15   3   1
2       Victor  NRG  1.13  1.18  1.08  198  224  174  16   9  ...  19   2   1
3          s0m  NRG  0.87  0.51  1.24  171  132  210  17   7  ...  21   3   1
4          FNS  NRG  0.70  0.76  0.65  182  189  175  18   9  ...  21   3   2

Type      FD         +/–.1
Side def all atk def   all atk def
0      1   2   2   0     0  -1  +1
1      2   4   0   4    -1  +1  -2
2      1   0   0   0    +2  +1  +1
3      2   4   3   1    -1  -2  +1
4      1   5   3   2    -2  -1  -1

[5 rows x 38 columns]

Type      Name  Team     R              ACS             K      ... HS%  FK  \
Side      Name  Team   all   atk   def  all  atk  def all atk  ... def all
0         Less  LOUD  1.22  0.81  1.62  266  214  319  27  10  ...  32   2
1     cauanzin  LOUD  1.10  1.20  0.99  235  286  186  23  14  ...  25   2
2        aspas  LOUD  1.04  0.99  1.09  216  232  201  21  11  ...  33   6
3         tuyz  LOUD  0.83  0.89  0.77  162  185  140  15   9  ...  20   1
4      saadhak  LOUD  0.69  0.65  0.73  168  126  212  13   5  ...  13   4

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      1   1   1   1   0    +1   0  +1
1      2   0   4   3   1    -2  -1  -1
2      3   3   4   2   2    +2  +1  +1
3      0   1   0   0   0    +1   0  +1
4      1   3   4   1   3     0   0   0

[5 rows x 38 columns]

<Response [200 OK]>
13 >> DRX 2:1 Talon Esports

	Monday, February 20th 4:00 AM +07 Patch 6.02

	Bracket Stage: Alpha - Semifinals

	TLN ban Haven
	DRX ban Lotus
	TLN pick Fracture
	DRX pick Ascent
	TLN ban Split
	DRX ban Pearl
	Icebox remains
Overall

Type  Name Team     R              ACS             K      ... HS%  FK          \
Side  Name Team   all   atk   def  all  atk  def all atk  ... def all atk def
0     MaKo  DRX  1.30  1.30  1.35  264  293  227  56  33  ...  19  10   5   5
1     Zest  DRX  1.09  0.85  1.49  216  185  254  49  23  ...  33   2   0   2
2     BuZz  DRX  1.08  1.11  1.01  223  258  179  52  32  ...  13   7   4   3
3       Rb  DRX  1.05  0.99  1.14  193  209  167  45  29  ...  25   6   5   1
4     stax  DRX  0.88  0.54  1.27  164  112  235  37  13  ...  32   4   0   4

Type  FD         +/–.1
Side all atk def   all atk def
0      4   2   2    +6  +3  +3
1      7   3   4    -5  -3  -2
2     12   7   5    -5  -3  -2
3      5   4   1    +1  +1   0
4      8   6   2    -4  -6  +2

[5 rows x 38 columns]

Type       Name Team     R              ACS             K      ... HS%  FK  \
Side       Name Team   all   atk   def  all  atk  def all atk  ... def all
0          foxz  TLN  1.20  0.91  1.43  224  181  256  49  18  ...  24   5
1       garnetS  TLN  1.06  0.75  1.29  211  165  251  53  18  ...  24  13
2     Sushiboys  TLN  0.87  0.75  0.95  177  180  183  39  17  ...  20   8
3          Crws  TLN  0.86  0.73  0.92  171  165  180  36  14  ...  20   7
4       JitBoyS  TLN  0.75  0.73  0.75  152  150  151  33  15  ...  46   3

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      1   4   2   2   0    +3  -1  +4
1      8   5   8   6   2    +5  +2  +3
2      3   5   8   3   5     0   0   0
3      2   5   5   2   3    +2   0  +2
4      0   3   6   2   4    -3  -2  -1

[5 rows x 38 columns]

Fracture 1:01:06

Type  Name Team     R              ACS             K      ... HS%  FK          \
Side  Name Team   all   atk   def  all  atk  def all atk  ... def all atk def
0     MaKo  DRX  1.07  1.32  0.79  253  352  146  17  12  ...   7   3   2   1
1     stax  DRX  1.01  0.50  1.57  199  131  275  16   5  ...  38   2   0   2
2     BuZz  DRX  0.95  0.76  1.16  203  184  224  17   7  ...  17   2   2   0
3     Zest  DRX  0.94  0.81  1.09  222  190  258  19   9  ...  36   1   0   1
4       Rb  DRX  0.67  0.74  0.59   99  140   55   8   7  ...  20   0   0   0

Type  FD         +/–.1
Side all atk def   all atk def
0      2   0   2    +1  +2  -1
1      1   1   0    +1  -1  +2
2      5   3   2    -3  -1  -2
3      4   2   2    -3  -2  -1
4      3   2   1    -3  -2  -1

[5 rows x 38 columns]

Type       Name Team     R              ACS             K      ... HS%  FK  \
Side       Name Team   all   atk   def  all  atk  def all atk  ... def all
0          foxz  TLN  1.32  1.03  1.58  202  171  232  17   6  ...  33   2
1     Sushiboys  TLN  1.26  1.17  1.33  261  249  273  21  10  ...  22   5
2       garnetS  TLN  1.19  0.93  1.43  230  177  280  20   7  ...  24   4
3          Crws  TLN  0.97  0.84  1.08  227  167  283  16   5  ...  18   4
4       JitBoyS  TLN  0.81  0.99  0.65  121  159   87   9   5  ...  50   0

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      1   1   0   0   0    +2  +1  +1
1      1   4   1   0   1    +4  +1  +3
2      4   0   3   3   0    +1  +1   0
3      1   3   2   1   1    +2   0  +2
4      0   0   2   0   2    -2   0  -2

[5 rows x 38 columns]

Ascent 41:46

Type  Name Team     R              ACS             K      ... HS%  FK          \
Side  Name Team   all   atk   def  all  atk  def all atk  ... def all atk def
0     MaKo  DRX  1.43  1.16  1.89  270  237  328  18  10  ...  33   3   1   2
1     Zest  DRX  1.40  0.72  2.56  239  124  438  16   4  ...  52   1   0   1
2       Rb  DRX  1.37  1.23  1.61  250  252  249  18  12  ...  27   2   2   0
3     BuZz  DRX  1.28  1.46  0.97  240  296  147  16  12  ...   9   3   2   1
4     stax  DRX  0.65  0.58  0.78  124  101  165   7   3  ...  33   1   0   1

Type  FD         +/–.1
Side all atk def   all atk def
0      1   1   0    +2   0  +2
1      1   1   0     0  -1  +1
2      1   1   0    +1  +1   0
3      1   0   1    +2  +2   0
4      5   4   1    -4  -4   0

[5 rows x 38 columns]

Type       Name Team     R              ACS             K      ... HS%  FK  \
Side       Name Team   all   atk   def  all  atk  def all atk  ... def all
0          foxz  TLN  1.14  0.84  1.32  259  275  251  17   7  ...  21   1
1       garnetS  TLN  0.91  0.34  1.24  201  122  248  14   3  ...  13   5
2          Crws  TLN  0.85  0.35  1.15  148  115  169  10   2  ...  29   0
3       JitBoyS  TLN  0.64  0.47  0.74  180  123  215  10   2  ...  56   3
4     Sushiboys  TLN  0.56  0.25  0.74  115   88  131   6   2  ...  16   0

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      0   1   1   1   0     0  -1  +1
1      2   3   3   2   1    +2   0  +2
2      0   0   1   1   0    -1  -1   0
3      0   3   2   0   2    +1   0  +1
4      0   0   3   1   2    -3  -1  -2

[5 rows x 38 columns]

<Response [200 OK]>
14 >> Team Liquid 0:2 Team Secret

	Thursday, February 23rd 12:00 AM +07 Patch 6.02

	Bracket Stage: Omega - Round of 16

	TS ban Ascent
	TL ban Haven
	TS pick Icebox
	TL pick Fracture
	TS ban Pearl
	TL ban Split
	Lotus remains
Overall

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0        nAts   TL  1.12  1.10  1.14  258  267  242  40  24  ...  24   0   0
1      Jamppi   TL  0.91  0.87  0.96  246  265  219  32  20  ...  10   7   5
2      Redgar   TL  0.86  0.80  0.94  206  193  230  25  14  ...  25   7   3
3        Sayf   TL  0.79  0.43  1.29  173  129  237  26  10  ...  31   3   1
4     soulcas   TL  0.59  0.22  1.12  113   60  189  16   3  ...  32   1   0

Type      FD         +/–.1
Side def all atk def   all atk def
0      0   5   3   2    -5  -3  -2
1      2   6   3   3    +1  +2  -1
2      4   7   4   3     0  -1  +1
3      2   1   1   0    +2   0  +2
4      1   4   4   0    -3  -4  +1

[5 rows x 38 columns]

Type        Name Team     R              ACS             K      ... HS%  FK  \
Side        Name Team   all   atk   def  all  atk  def all atk  ... def all
0           invy   TS  1.38  1.23  1.49  255  247  261  39  15  ...  24   2
1     JessieVash   TS  1.28  0.70  1.70  273  132  375  39   6  ...  25   6
2          Jremy   TS  1.14  0.84  1.36  211  156  248  32   9  ...  12   7
3        DubsteP   TS  1.12  0.78  1.35  182  181  183  28  11  ...  16   6
4         BORKUM   TS  0.94  1.03  0.89  154  159  151  18   8  ...  10   2

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      1   1   3   1   2    -1   0  -1
1      1   5   4   4   0    +2  -3  +5
2      3   4   1   1   0    +6  +2  +4
3      2   4   5   2   3    +1   0  +1
4      1   1   5   1   4    -3   0  -3

[5 rows x 38 columns]

Icebox 1:03:20

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0      Redgar   TL  1.33  1.25  1.44  309  316  300  20  12  ...  23   5   2
1        Sayf   TL  1.04  0.53  1.72  220  141  326  18   6  ...  32   2   1
2        nAts   TL  0.92  0.97  0.85  176  215  126  14  10  ...  15   0   0
3      Jamppi   TL  0.92  0.73  1.18  234  244  221  15   9  ...   6   4   3
4     soulcas   TL  0.59  0.20  1.10  119   47  216  10   2  ...  43   1   0

Type      FD         +/–.1
Side def all atk def   all atk def
0      3   3   2   1    +2   0  +2
1      1   0   0   0    +2  +1  +1
2      0   2   1   1    -2  -1  -1
3      1   2   1   1    +2  +2   0
4      1   2   2   0    -1  -2  +1

[5 rows x 38 columns]

Type        Name Team     R              ACS             K      ... HS%  FK  \
Side        Name Team   all   atk   def  all  atk  def all atk  ... def all
0           invy   TS  1.27  0.85  1.59  263  204  309  21   6  ...  33   1
1     JessieVash   TS  1.23  0.64  1.67  296  159  400  21   4  ...  32   5
2        DubsteP   TS  1.00  0.89  1.08  178  219  148  14   7  ...   6   2
3         BORKUM   TS  0.94  0.86  1.01  156  138  170   9   4  ...  13   0
4          Jremy   TS  0.93  0.58  1.19  158   96  205  13   3  ...  18   1

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      0   1   3   1   2    -2  -1  -1
1      1   4   2   2   0    +3  -1  +4
2      1   1   4   1   3    -2   0  -2
3      0   0   2   1   1    -2  -1  -1
4      1   0   1   1   0     0   0   0

[5 rows x 38 columns]

Fracture 42:43

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0        nAts   TL  1.31  1.23  1.44  340  319  373  26  14  ...  28   0   0
1      Jamppi   TL  0.91  1.01  0.75  257  286  216  17  11  ...  16   3   2
2     soulcas   TL  0.60  0.24  1.13  106   72  157   6   1  ...  21   0   0
3        Sayf   TL  0.55  0.34  0.85  125  118  137   8   4  ...  27   1   0
4      Redgar   TL  0.39  0.36  0.44  102   70  151   5   2  ...  30   2   1

Type      FD         +/–.1
Side def all atk def   all atk def
0      0   3   2   1    -3  -2  -1
1      1   4   2   2    -1   0  -1
2      0   2   2   0    -2  -2   0
3      1   1   1   0     0  -1  +1
4      1   4   2   2    -2  -1  -1

[5 rows x 38 columns]

Type        Name Team     R              ACS             K      ... HS%  FK  \
Side        Name Team   all   atk   def  all  atk  def all atk  ... def all
0           invy   TS  1.48  1.61  1.39  246  296  214  18   9  ...  13   1
1          Jremy   TS  1.35  1.10  1.52  263  224  290  19   6  ...   8   6
2     JessieVash   TS  1.34  0.76  1.72  250  101  350  18   2  ...  20   1
3        DubsteP   TS  1.24  0.68  1.62  186  137  219  14   4  ...  21   4
4         BORKUM   TS  0.94  1.20  0.77  152  183  132   9   4  ...   7   2

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      1   0   0   0   0    +1  +1   0
1      2   4   0   0   0    +6  +2  +4
2      0   1   2   2   0    -1  -2  +1
3      1   3   1   1   0    +3   0  +3
4      1   1   3   0   3    -1  +1  -2

[5 rows x 38 columns]

<Response [200 OK]>
15 >> Natus Vincere 2:0 KRÜ Esports

	Thursday, February 23rd 2:30 AM +07 Patch 6.02

	Bracket Stage: Omega - Round of 16

	KRÜ ban Icebox
	NAVI ban Haven
	KRÜ pick Ascent
	NAVI pick Lotus
	KRÜ ban Fracture
	NAVI ban Split
	Pearl remains
Overall

Type      Name  Team     R              ACS             K      ... HS%  FK  \
Side      Name  Team   all   atk   def  all  atk  def all atk  ... def all
0       Zyppan  NAVI  1.58  1.51  1.52  298  245  371  44  21  ...  47   8
1        ANGE1  NAVI  1.46  1.92  0.96  303  381  211  45  34  ...  42   5
2         Shao  NAVI  1.24  1.37  1.14  153  166  128  24  16  ...  30   3
3         cNed  NAVI  1.17  1.35  0.94  228  251  196  31  20  ...  18   4
4     SUYGETSU  NAVI  0.91  1.02  0.89  150  153  146  20  12  ...  28   2

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      6   2   1   1   0    +7  +5  +2
1      3   2   6   2   4    -1  +1  -2
2      1   2   3   2   1     0  -1  +1
3      4   0   5   3   2    -1  +1  -2
4      1   1   4   0   4    -2  +1  -3

[5 rows x 38 columns]

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0        xand  KRÜ  0.89  1.12  0.67  179  209  166  25  13  ...  27   6   2
1     DaveeyS  KRÜ  0.84  1.02  0.62  184  261  136  27  17  ...  27   5   3
2      axeddy  KRÜ  0.77  0.98  0.57  164  205  127  21  13  ...  19   2   1
3      Melser  KRÜ  0.76  0.98  0.52  135  145  130  20  10  ...  32   3   2
4        NagZ  KRÜ  0.58  0.85  0.44  107  129   87  14   9  ...  14   3   3

Type      FD         +/–.1
Side def all atk def   all atk def
0      4   7   3   4    -1  -1   0
1      2   3   2   1    +2  +1  +1
2      1   4   0   4    -2  +1  -3
3      1   6   2   4    -3   0  -3
4      0   2   0   2    +1  +3  -2

[5 rows x 38 columns]

Ascent 47:52

Type      Name  Team     R              ACS             K      ... HS%  FK  \
Side      Name  Team   all   atk   def  all  atk  def all atk  ... def all
0       Zyppan  NAVI  1.70  1.92  1.27  278  295  246  18  13  ...  43   5
1        ANGE1  NAVI  1.53  1.66  1.27  278  248  340  18  11  ...  47   1
2         Shao  NAVI  1.40  1.34  1.52  189  178  215  12   8  ...  33   2
3         cNed  NAVI  1.28  1.41  1.01  237  246  220  14  10  ...  31   2
4     SUYGETSU  NAVI  0.99  0.84  1.30  149  120  208  11   5  ...  50   0

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      5   0   0   0   0    +5  +5   0
1      1   0   1   0   1     0  +1  -1
2      1   1   2   1   1     0   0   0
3      2   0   4   2   2    -2   0  -2
4      0   0   1   0   1    -1   0  -1

[5 rows x 38 columns]

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0      axeddy  KRÜ  0.82  0.90  0.78  194  212  186  12   5  ...  17   2   1
1        xand  KRÜ  0.73  0.85  0.67  131  128  133   7   2  ...  19   3   1
2        NagZ  KRÜ  0.64  1.17  0.38  120  243   59   7   6  ...  10   3   3
3     DaveeyS  KRÜ  0.64  0.56  0.68  127  143  120   8   3  ...  26   0   0
4      Melser  KRÜ  0.62  0.62  0.62  123   63  153   7   1  ...  35   0   0

Type      FD         +/–.1
Side def all atk def   all atk def
0      1   2   0   2     0  +1  -1
1      2   2   0   2    +1  +1   0
2      0   1   0   1    +2  +3  -1
3      0   2   1   1    -2  -1  -1
4      0   3   0   3    -3   0  -3

[5 rows x 38 columns]

Lotus 49:57

Type      Name  Team     R              ACS             K      ... HS%  FK  \
Side      Name  Team   all   atk   def  all  atk  def all atk  ... def all
0       Zyppan  NAVI  1.45  1.10  1.77  317  191  433  26   8  ...  49   3
1        ANGE1  NAVI  1.39  2.18  0.66  328  528  146  27  23  ...  36   4
2         cNed  NAVI  1.07  1.29  0.86  218  257  184  17  10  ...  13   2
3         Shao  NAVI  1.07  1.40  0.77  117  152   85  12   8  ...  27   1
4     SUYGETSU  NAVI  0.83  1.19  0.49  150  189  115   9   7  ...  20   2

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      1   2   1   1   0    +2   0  +2
1      2   2   5   2   3    -1   0  -1
2      2   0   1   1   0    +1  +1   0
3      0   1   1   1   0     0  -1  +1
4      1   1   3   0   3    -1  +1  -2

[5 rows x 38 columns]

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0        xand  KRÜ  1.04  1.38  0.68  227  250  202  18  11  ...  32   3   1
1     DaveeyS  KRÜ  1.03  1.47  0.55  240  320  154  19  14  ...  28   5   3
2      Melser  KRÜ  0.89  1.33  0.42  147  186  105  13   9  ...  29   3   2
3      axeddy  KRÜ  0.73  1.07  0.35  134  201   62   9   8  ...  23   0   0
4        NagZ  KRÜ  0.51  0.53  0.49   93   71  118   7   3  ...  17   0   0

Type      FD         +/–.1
Side def all atk def   all atk def
0      2   5   3   2    -2  -2   0
1      2   1   1   0    +4  +2  +2
2      1   3   2   1     0   0   0
3      0   2   0   2    -2   0  -2
4      0   1   0   1    -1   0  -1

[5 rows x 38 columns]

<Response [200 OK]>
16 >> ZETA DIVISION 0:2 Leviatán

	Thursday, February 23rd 5:00 AM +07 Patch 6.02

	Bracket Stage: Omega - Round of 16

	LEV ban Split
	ZETA ban Icebox
	LEV pick Ascent
	ZETA pick Pearl
	LEV ban Fracture
	ZETA ban Lotus
	Haven remains
Overall

Type       Name  Team     R              ACS             K      ... HS%  FK  \
Side       Name  Team   all   atk   def  all  atk  def all atk  ... def all
0     SugarZ3ro  ZETA  0.88  0.81  0.93  178  167  192  24  10  ...  27   1
1           Laz  ZETA  0.87  0.81  0.92  172  198  164  24  12  ...  28   2
2           Dep  ZETA  0.83  0.85  0.69  179  248  134  26  14  ...  25   4
3          crow  ZETA  0.70  0.63  0.75  136   85  182  17   4  ...  22   2
4         TENNN  ZETA  0.58  0.52  0.64  133   88  158  17   5  ...  23   3

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      1   0   2   1   1    -1   0  -1
1      1   1   1   1   0    +1   0  +1
2      3   1  10   4   6    -6  -1  -5
3      1   1   5   1   4    -3   0  -3
4      0   3  12   5   7    -9  -5  -4

[5 rows x 38 columns]

Type       Name Team     R              ACS             K      ... HS%  FK  \
Side       Name Team   all   atk   def  all  atk  def all atk  ... def all
0        Mazino  LEV  1.44  1.48  1.31  271  286  235  40  26  ...  42   5
1          Shyy  LEV  1.32  1.19  1.38  229  209  254  33  18  ...  17   8
2         kiNgg  LEV  1.29  1.15  1.68  225  189  277  34  17  ...  31   6
3           nzr  LEV  1.04  1.13  0.86  149  186  107  21  16  ...  14   4
4     Tacolilla  LEV  1.00  1.11  0.82  189  235  102  25  19  ...   0   6

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      4   1   3   2   1    +2  +2   0
1      4   4   0   0   0    +8  +4  +4
2      3   3   2   2   0    +4  +1  +3
3      2   2   0   0   0    +4  +2  +2
4      5   1   6   1   5     0  +4  -4

[5 rows x 38 columns]

Ascent 47:44

Type       Name  Team     R              ACS             K      ... HS%  FK  \
Side       Name  Team   all   atk   def  all  atk  def all atk  ... def all
0           Dep  ZETA  0.79  0.38  0.97  163  107  187  11   2  ...  39   0
1     SugarZ3ro  ZETA  0.70  0.64  0.72  155  119  170   7   2  ...  17   1
2           Laz  ZETA  0.66  0.64  0.67  134  134  134   6   2  ...  24   1
3         TENNN  ZETA  0.57  0.58  0.57  156  132  167   8   2  ...  33   2
4          crow  ZETA  0.44  0.38  0.47  103   66  120   5   1  ...  20   0

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      0   0   3   1   2    -3  -1  -2
1      1   0   1   0   1     0  +1  -1
2      0   1   0   0   0    +1   0  +1
3      0   2   6   2   4    -4  -2  -2
4      0   0   3   1   2    -3  -1  -2

[5 rows x 38 columns]

Type       Name Team     R              ACS             K      ... HS%  FK  \
Side       Name Team   all   atk   def  all  atk  def all atk  ... def all
0        Mazino  LEV  1.82  1.96  1.50  305  343  216  19  15  ...  44   3
1          Shyy  LEV  1.47  1.56  1.24  238  280  139  13  11  ...   7   6
2         kiNgg  LEV  1.30  0.94  2.14  227  135  447  14   6  ...  62   2
3     Tacolilla  LEV  1.17  1.28  0.90  243  282  151  15  12  ...   0   2
4           nzr  LEV  1.01  1.15  0.66  127  150   73   9   8  ...  13   0

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      2   1   0   0   0    +3  +2  +1
1      4   2   0   0   0    +6  +4  +2
2      2   0   2   2   0     0   0   0
3      1   1   2   1   1     0   0   0
4      0   0   0   0   0     0   0   0

[5 rows x 38 columns]

Pearl 58:25

Type       Name  Team     R              ACS             K      ... HS%  FK  \
Side       Name  Team   all   atk   def  all  atk  def all atk  ... def all
0           Laz  ZETA  1.07  0.98  1.17  209  224  194  18  10  ...  32   1
1     SugarZ3ro  ZETA  1.06  0.98  1.15  201  188  215  17   8  ...  38   0
2          crow  ZETA  0.95  0.88  1.03  168   93  244  12   3  ...  24   2
3           Dep  ZETA  0.88  1.33  0.42  194  307   82  15  12  ...   7   4
4         TENNN  ZETA  0.58  0.46  0.71  109   70  149   9   3  ...  13   1

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      1   0   1   1   0     0   0   0
1      0   0   1   1   0    -1  -1   0
2      1   1   2   0   2     0  +1  -1
3      3   1   7   3   4    -3   0  -3
4      0   1   6   3   3    -5  -3  -2

[5 rows x 38 columns]

Type       Name Team     R              ACS             K      ... HS%  FK  \
Side       Name Team   all   atk   def  all  atk  def all atk  ... def all
0         kiNgg  LEV  1.29  1.35  1.23  223  242  205  20  11  ...  17   4
1          Shyy  LEV  1.17  0.82  1.52  220  138  303  20   7  ...  22   2
2           nzr  LEV  1.08  1.10  1.06  171  221  121  12   8  ...  14   4
3        Mazino  LEV  1.05  1.00  1.11  236  230  242  21  11  ...  41   2
4     Tacolilla  LEV  0.84  0.94  0.73  134  188   81  10   7  ...   0   4

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      1   3   0   0   0    +4  +1  +3
1      0   2   0   0   0    +2   0  +2
2      2   2   0   0   0    +4  +2  +2
3      2   0   3   2   1    -1   0  -1
4      4   0   4   0   4     0  +4  -4

[5 rows x 38 columns]

<Response [200 OK]>
17 >> Team Vitality 2:1 Global Esports

	Friday, February 24th 12:05 AM +07 Patch 6.02

	Bracket Stage: Omega - Round of 16

	GES ban Ascent
	VIT ban Icebox
	GES pick Split
	VIT pick Pearl
	GES ban Haven
	VIT ban Fracture
	Lotus remains
Overall

Type      Name Team     R              ACS             K      ... HS%  FK      \
Side      Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0      Twisten  VIT  1.34  1.16  1.38  284  263  310  60  34  ...  16  10   6
1        MOLSI  VIT  1.24  1.17  1.31  242  218  271  52  28  ...  25   3   0
2     Destrian  VIT  1.17  1.02  1.38  177  161  192  34  18  ...  31   4   3
3       ceNder  VIT  1.13  1.09  1.15  228  241  199  47  29  ...  30   7   5
4     BONECOLD  VIT  0.88  0.75  1.06  155  140  184  30  16  ...  18   4   1

Type      FD         +/–.1
Side def all atk def   all atk def
0      4   7   5   2    +3  +1  +2
1      3   4   3   1    -1  -3  +2
2      1   6   4   2    -2  -1  -1
3      2   6   2   4    +1  +3  -2
4      3   7   5   2    -3  -4  +1

[5 rows x 38 columns]

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0      Monyet  GES  1.01  0.76  1.19  214  179  249  45  17  ...  23  13   4
1     t3xture  GES  0.89  0.79  1.03  207  217  211  46  19  ...  19   8   2
2       AYRIN  GES  0.82  0.82  0.80  184  203  164  36  16  ...  19   4   3
3       Bazzi  GES  0.78  0.82  0.85  169  158  171  30  12  ...  18   3   1
4     SkRossi  GES  0.70  0.66  0.81  131  149  127  29  12  ...  33   2   1

Type      FD         +/–.1
Side def all atk def   all atk def
0      9   8   3   5    +5  +1  +4
1      6   7   1   6    +1  +1   0
2      1   4   2   2     0  +1  -1
3      2   2   1   1    +1   0  +1
4      1   7   6   1    -5  -5   0

[5 rows x 38 columns]

Split 49:27

Type      Name Team     R              ACS             K      ... HS%  FK      \
Side      Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0      Twisten  VIT  1.67  1.95  0.98  330  390  187  23  20  ...  43   3   3
1     Destrian  VIT  1.55  1.52  1.62  224  194  296  13   8  ...  33   3   2
2       ceNder  VIT  1.34  1.23  1.59  269  259  293  17  11  ...  23   3   2
3        MOLSI  VIT  1.25  1.24  1.29  295  277  340  18  13  ...  21   0   0
4     BONECOLD  VIT  0.88  0.72  1.27  117   94  174   6   3  ...  25   1   0

Type      FD         +/–.1
Side def all atk def   all atk def
0      0   1   1   0    +2  +2   0
1      1   0   0   0    +3  +2  +1
2      1   2   1   1    +1  +1   0
3      0   2   2   0    -2  -2   0
4      1   2   1   1    -1  -1   0

[5 rows x 38 columns]

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0       Bazzi  GES  0.84  1.35  0.62  221  274  200  11   4  ...  12   1   0
1       AYRIN  GES  0.79  0.64  0.85  211  194  219  12   3  ...  17   3   2
2      Monyet  GES  0.66  0.46  0.74  152   80  182   8   2  ...  14   2   0
3     t3xture  GES  0.60  0.52  0.63  154   97  178  10   2  ...  25   1   0
4     SkRossi  GES  0.43  0.54  0.39   85  126   68   5   2  ...  17   0   0

Type      FD         +/–.1
Side def all atk def   all atk def
0      1   0   0   0    +1   0  +1
1      1   2   1   1    +1  +1   0
2      2   3   1   2    -1  -1   0
3      1   4   0   4    -3   0  -3
4      0   1   1   0    -1  -1   0

[5 rows x 38 columns]

Pearl 47:56

Type      Name Team     R              ACS             K      ... HS%  FK      \
Side      Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0      Twisten  VIT  1.12  0.46  1.67  266  119  389  21   4  ...   8   4   1
1        MOLSI  VIT  1.02  0.87  1.14  214  153  267  18   5  ...  24   2   0
2     Destrian  VIT  0.94  0.72  1.11  152  171  136  11   5  ...  44   1   1
3     BONECOLD  VIT  0.91  0.66  1.11  186  173  198  13   6  ...  19   2   1
4       ceNder  VIT  0.74  0.56  0.90  167  146  186  13   5  ...  30   1   1

Type      FD         +/–.1
Side def all atk def   all atk def
0      3   3   2   1    +1  -1  +2
1      2   2   1   1     0  -1  +1
2      0   3   2   1    -2  -1  -1
3      1   1   0   1    +1  +1   0
4      0   3   1   2    -2   0  -2

[5 rows x 38 columns]

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0      Monyet  GES  1.46  1.23  1.73  286  235  349  24  12  ...  47   6   4
1     t3xture  GES  1.12  0.72  1.59  288  245  341  23  10  ...  18   6   2
2     SkRossi  GES  1.08  0.69  1.56  202  162  251  18   7  ...  56   0   0
3       Bazzi  GES  0.88  0.59  1.21  135  126  146   9   4  ...  21   0   0
4       AYRIN  GES  0.74  0.85  0.61  119  158   74   9   7  ...  13   0   0

Type      FD         +/–.1
Side def all atk def   all atk def
0      2   2   1   1    +4  +3  +1
1      4   3   1   2    +3  +1  +2
2      0   3   3   0    -3  -3   0
3      0   2   1   1    -2  -1  -1
4      0   0   0   0     0   0   0

[5 rows x 38 columns]

<Response [200 OK]>
18 >> FUT Esports 2:0 Rex Regum Qeon

	Friday, February 24th 3:10 AM +07 Patch 6.02

	Bracket Stage: Omega - Round of 16

	RRQ ban Fracture
	FUT ban Haven
	RRQ pick Lotus
	FUT pick Pearl
	RRQ ban Icebox
	FUT ban Ascent
	Split remains
Overall

Type       Name Team     R              ACS             K      ... HS%  FK  \
Side       Name Team   all   atk   def  all  atk  def all atk  ... def all
0          MOJJ  FUT  1.31  1.25  1.20  234  231  235  33  14  ...  24   4
1     AtaKaptan  FUT  1.24  0.87  1.30  209  229  198  32  14  ...  27   5
2           qw1  FUT  1.23  0.80  1.42  233  192  258  31  10  ...  20   9
3         qRaxs  FUT  1.06  1.05  0.98  183  215  156  25  12  ...  16   0
4       MrFaliN  FUT  0.97  1.69  0.77  215  229  188  28  13  ...  15   5

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      0   4   1   1   0    +3  -1  +4
1      2   3   2   0   2    +3  +2  +1
2      5   4   6   5   1    +3   0  +3
3      0   0   1   0   1    -1   0  -1
4      1   4   7   2   5    -2  -1  -1

[5 rows x 38 columns]

Type       Name Team     R              ACS             K      ... HS%  FK  \
Side       Name Team   all   atk   def  all  atk  def all atk  ... def all
0         Emman  RRQ  1.09  1.24  0.98  233  241  230  32  21  ...  26   4
1     fl1pzjder  RRQ  0.89  0.90  0.89  178  180  213  23  13  ...  17   7
2        xffero  RRQ  0.86  0.90  0.79  183  200  153  26  17  ...  23   1
3       Lmemore  RRQ  0.85  0.75  0.90  203  181  228  27  16  ...  27   5
4          EJAY  RRQ  0.79  0.49  1.67  189  120  399  10   5  ...  23   0
5           2ge  RRQ  0.51  0.63  0.39  111  125   99  10   6  ...  21   0

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      1   3   3   2   1    +1  -1  +2
1      5   2   9   5   4    -2   0  -2
2      1   0   1   0   1     0  +1  -1
3      2   3   3   2   1    +2   0  +2
4      0   0   6   6   0    -6  -6   0
5      0   0   1   0   1    -1   0  -1

[6 rows x 38 columns]

Lotus 43:44

Type       Name Team     R              ACS             K      ... HS%  FK  \
Side       Name Team   all   atk   def  all  atk  def all atk  ... def all
0           qw1  FUT  1.28  0.61  1.51  240  174  263  15   2  ...  17   3
1       MrFaliN  FUT  1.27  2.81  0.76  267  536  177  16   9  ...  14   2
2          MOJJ  FUT  1.26  0.74  1.44  240   72  296  13   1  ...  18   2
3     AtaKaptan  FUT  1.15  0.17  1.48  201   92  238  12   1  ...  27   2
4         qRaxs  FUT  1.10  0.79  1.20  202  233  192  12   3  ...   9   0

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      1   2   4   3   1    -1  -2  +1
1      0   2   2   0   2     0   0   0
2      0   2   0   0   0    +2   0  +2
3      0   2   1   0   1    +1   0  +1
4      0   0   0   0   0     0   0   0

[5 rows x 38 columns]

Type       Name Team     R              ACS             K      ... HS%  FK  \
Side       Name Team   all   atk   def  all  atk  def all atk  ... def all
0        xffero  RRQ  0.93  0.95  0.86  191  216  117  10   8  ...   0   1
1         Emman  RRQ  0.91  0.87  1.02  217  226  192  11   8  ...  33   2
2       Lmemore  RRQ  0.90  0.95  0.74  219  232  182  12  10  ...  43   3
3          EJAY  RRQ  0.79  0.49  1.67  189  120  399  10   5  ...  23   0
4     fl1pzjder  RRQ  0.60  0.58  0.65  102  102  103   4   3  ...  40   1

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      1   0   0   0   0    +1  +1   0
1      1   1   1   1   0    +1   0  +1
2      1   2   1   0   1    +2  +1  +1
3      0   0   6   6   0    -6  -6   0
4      1   0   1   1   0     0   0   0

[5 rows x 38 columns]

Pearl 55:17

Type       Name Team     R              ACS             K      ... HS%  FK  \
Side       Name Team   all   atk   def  all  atk  def all atk  ... def all
0          MOJJ  FUT  1.35  1.75  0.96  228  284  174  20  13  ...  50   2
1     AtaKaptan  FUT  1.34  1.56  1.12  216  275  158  20  13  ...  28   3
2           qw1  FUT  1.17  1.00  1.34  225  198  254  16   8  ...  23   6
3         qRaxs  FUT  1.03  1.30  0.75  163  208  119  13   9  ...  29   0
4       MrFaliN  FUT  0.68  0.57  0.79  162  127  198  12   4  ...  15   3

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      0   2   1   1   0    +1  -1  +2
1      2   1   1   0   1    +2  +2   0
2      4   2   2   2   0    +4  +2  +2
3      0   0   1   0   1    -1   0  -1
4      1   2   5   2   3    -2  -1  -1

[5 rows x 38 columns]

Type       Name Team     R              ACS             K      ... HS%  FK  \
Side       Name Team   all   atk   def  all  atk  def all atk  ... def all
0         Emman  RRQ  1.27  1.60  0.94  249  256  242  21  13  ...  25   2
1     fl1pzjder  RRQ  1.18  1.22  1.14  254  259  250  19  10  ...  14   6
2       Lmemore  RRQ  0.80  0.55  1.06  187  131  243  15   6  ...  24   2
3        xffero  RRQ  0.79  0.85  0.72  174  183  165  16   9  ...  29   0
4           2ge  RRQ  0.51  0.63  0.39  111  125   99  10   6  ...  21   0

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      0   2   2   1   1     0  -1  +1
1      4   2   8   4   4    -2   0  -2
2      1   1   2   2   0     0  -1  +1
3      0   0   1   0   1    -1   0  -1
4      0   0   1   0   1    -1   0  -1

[5 rows x 38 columns]

<Response [200 OK]>
19 >> 100 Thieves 2:1 EDward Gaming

	Friday, February 24th 5:30 AM +07 Patch 6.02

	Bracket Stage: Omega - Round of 16

	100T ban Ascent
	EDG ban Haven
	100T pick Icebox
	EDG pick Lotus
	100T ban Split
	EDG ban Fracture
	Pearl remains
Overall

Type       Name  Team     R              ACS             K      ... HS%  FK  \
Side       Name  Team   all   atk   def  all  atk  def all atk  ... def all
0       stellar  100T  1.25  1.16  1.31  250  248  256  66  34  ...  20   4
1          bang  100T  1.17  1.25  1.07  230  236  226  56  30  ...  40  10
2     Cryocells  100T  1.05  1.32  0.75  208  258  162  50  31  ...  11   9
3        Derrek  100T  0.98  0.99  0.94  171  172  171  44  24  ...  32   4
4         Asuna  100T  0.81  0.87  0.73  156  160  159  37  19  ...  23   1

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      2   2   4   3   1     0  -1  +1
1      7   3  11   4   7    -1  +3  -4
2      4   5  17   8   9    -8  -4  -4
3      1   3   8   5   3    -4  -4   0
4      0   1   3   2   1    -2  -2   0

[5 rows x 38 columns]

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0     CHICHOO  EDG  1.19  1.35  1.06  253  290  215  62  35  ...  22   9   7
1      ZmjjKK  EDG  1.03  1.22  0.87  239  253  230  62  33  ...  19  16   6
2      nobody  EDG  0.92  1.03  0.82  197  230  166  47  27  ...  26   7   2
3     Haodong  EDG  0.86  0.97  0.77  163  138  181  37  15  ...  28   6   2
4      Smoggy  EDG  0.84  0.80  0.88  173  168  178  44  22  ...  32   5   4

Type      FD         +/–.1
Side def all atk def   all atk def
0      2   3   2   1    +6  +5  +1
1     10  11   6   5    +5   0  +5
2      5   5   2   3    +2   0  +2
3      4   5   2   3    +1   0  +1
4      1   4   2   2    +1  +2  -1

[5 rows x 38 columns]

Icebox 1:01:35

Type       Name  Team     R              ACS             K      ... HS%  FK  \
Side       Name  Team   all   atk   def  all  atk  def all atk  ... def all
0       stellar  100T  1.24  1.00  1.46  245  198  289  20   8  ...  24   1
1        Derrek  100T  1.11  1.10  1.11  186  177  195  15   7  ...  21   2
2          bang  100T  1.10  1.30  0.92  263  311  220  18  11  ...  56   4
3     Cryocells  100T  1.10  1.19  1.02  204  180  227  17   6  ...  12   2
4         Asuna  100T  0.55  0.45  0.64  115   86  143  10   4  ...  30   0

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      0   1   0   0   0    +1   0  +1
1      1   1   2   1   1     0   0   0
2      3   1   4   1   3     0  +2  -2
3      1   1   7   3   4    -5  -2  -3
4      0   0   1   1   0    -1  -1   0

[5 rows x 38 columns]

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0     CHICHOO  EDG  1.26  1.35  1.16  248  278  217  18  11  ...  28   4   3
1      ZmjjKK  EDG  1.22  1.35  1.09  242  288  192  21  13  ...  19   5   2
2      nobody  EDG  1.04  1.21  0.86  231  337  116  17  13  ...  11   2   2
3      Smoggy  EDG  0.78  0.68  0.89  182  173  192  16   8  ...  53   1   1
4     Haodong  EDG  0.74  0.57  0.92  174  108  248  12   3  ...  36   2   0

Type      FD         +/–.1
Side def all atk def   all atk def
0      1   0   0   0    +4  +3  +1
1      3   4   3   1    +1  -1  +2
2      0   2   0   2     0  +2  -2
3      0   1   0   1     0  +1  -1
4      2   2   1   1     0  -1  +1

[5 rows x 38 columns]

Lotus 53:09

Type       Name  Team     R              ACS             K      ... HS%  FK  \
Side       Name  Team   all   atk   def  all  atk  def all atk  ... def all
0          bang  100T  1.22  1.51  0.86  200  241  152  16  11  ...  31   3
1       stellar  100T  1.19  1.41  0.94  235  295  164  21  14  ...  21   2
2        Derrek  100T  0.86  1.22  0.43  168  224  103  14  11  ...  36   1
3     Cryocells  100T  0.84  1.19  0.42  181  220  136  11   8  ...  14   2
4         Asuna  100T  0.74  0.95  0.49  138  144  132   9   6  ...  17   0

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      3   0   3   1   2     0  +2  -2
1      2   0   3   2   1    -1   0  -1
2      0   1   3   1   2    -2  -1  -1
3      0   2   5   3   2    -3  -3   0
4      0   0   0   0   0     0   0   0

[5 rows x 38 columns]

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0     Haodong  EDG  1.23  1.71  0.84  217  239  200  17   9  ...  39   3   1
1     CHICHOO  EDG  1.22  1.77  0.76  280  363  212  21  13  ...  21   2   2
2      nobody  EDG  0.96  1.17  0.79  166  207  132  13   7  ...  25   0   0
3      Smoggy  EDG  0.95  0.84  1.04  179  160  196  14   6  ...  31   3   2
4      ZmjjKK  EDG  0.83  1.38  0.37  196  234  165  16  10  ...   0   6   2

Type      FD         +/–.1
Side def all atk def   all atk def
0      2   1   0   1    +2  +1  +1
1      0   2   1   1     0  +1  -1
2      0   0   0   0     0   0   0
3      1   2   2   0    +1   0  +1
4      4   3   0   3    +3  +2  +1

[5 rows x 38 columns]

<Response [200 OK]>
20 >> Sentinels 0:2 FNATIC

	Saturday, February 25th 12:05 AM +07 Patch 6.02

	Bracket Stage: Omega - Round of 16

	FNC ban Pearl
	SEN ban Icebox
	FNC pick Haven
	SEN pick Split
	FNC ban Ascent
	SEN ban Fracture
	Lotus remains
Overall

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0        TenZ  SEN  0.98  1.18  0.66  184  217  130  26  19  ...   9   5   4
1     pANcada  SEN  0.85  0.72  1.04  199  185  225  28  15  ...  42   1   0
2        Sacy  SEN  0.74  0.75  0.73  172  151  205  24  14  ...  28   3   1
3       dephh  SEN  0.63  0.60  0.67  131  139  117  16  10  ...  12   2   1
4      zekken  SEN  0.60  0.63  0.56  120  129  105  15  11  ...   9   4   3

Type      FD         +/–.1
Side def all atk def   all atk def
0      1   6   5   1    -1  -1   0
1      1   2   2   0    -1  -2  +1
2      2   6   2   4    -3  -1  -2
3      1   5   3   2    -3  -2  -1
4      1   5   3   2    -1   0  -1

[5 rows x 38 columns]

Type       Name Team     R              ACS             K      ... HS%  FK  \
Side       Name Team   all   atk   def  all  atk  def all atk  ... def all
0         Derke  FNC  1.37  1.27  1.43  302  294  308  43  16  ...  34   9
1       Alfajer  FNC  1.27  0.95  1.47  190  158  212  28   9  ...  29   2
2           Leo  FNC  1.24  1.53  1.06  199  215  186  26  11  ...  12   2
3     Chronicle  FNC  1.17  1.66  0.86  224  273  192  31  15  ...  18   6
4       Boaster  FNC  1.05  0.80  1.21  162  122  185  22   6  ...  20   5

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      2   7   6   2   4    +3   0  +3
1      1   1   2   1   1     0   0   0
2      1   1   0   0   0    +2  +1  +1
3      3   3   2   0   2    +4  +3  +1
4      2   3   5   3   2     0  -1  +1

[5 rows x 38 columns]

Haven 50:12

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0        TenZ  SEN  1.11  1.29  0.80  193  247  102  14  11  ...  25   2   2
1        Sacy  SEN  0.72  0.68  0.80  182  152  235  13   7  ...  30   1   0
2     pANcada  SEN  0.72  0.70  0.75  157  147  176  11   6  ...  43   0   0
3      zekken  SEN  0.65  0.61  0.70  124  138  101   8   6  ...  13   2   1
4       dephh  SEN  0.51  0.46  0.60  141  148  129   7   4  ...  10   1   1

Type      FD         +/–.1
Side def all atk def   all atk def
0      0   5   4   1    -3  -2  -1
1      1   2   1   1    -1  -1   0
2      0   1   1   0    -1  -1   0
3      1   2   1   1     0   0   0
4      0   3   1   2    -2   0  -2

[5 rows x 38 columns]

Type       Name Team     R              ACS             K      ... HS%  FK  \
Side       Name Team   all   atk   def  all  atk  def all atk  ... def all
0           Leo  FNC  1.35  1.61  1.21  274  282  271  17   7  ...  16   2
1     Chronicle  FNC  1.33  1.82  1.04  252  353  194  17   9  ...  23   5
2         Derke  FNC  1.33  1.23  1.39  286  236  316  20   6  ...  29   3
3       Alfajer  FNC  1.23  0.80  1.49  148   82  188  11   2  ...  23   1
4       Boaster  FNC  1.14  0.78  1.34  193  129  230  14   3  ...  20   2

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      1   1   0   0   0    +2  +1  +1
1      3   2   0   0   0    +5  +3  +2
2      1   2   3   0   3     0  +1  -1
3      0   1   1   1   0     0  -1  +1
4      0   2   2   1   1     0  -1  +1

[5 rows x 38 columns]

Split 52:40

Type     Name Team     R              ACS             K      ... HS%  FK      \
Side     Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0     pANcada  SEN  0.98  0.74  1.33  240  223  268  17   9  ...  41   1   0
1        TenZ  SEN  0.86  1.08  0.53  174  188  155  12   8  ...   6   3   2
2        Sacy  SEN  0.76  0.83  0.66  161  150  179  11   7  ...  25   2   1
3       dephh  SEN  0.74  0.74  0.74  120  129  107   9   6  ...  15   1   0
4      zekken  SEN  0.55  0.64  0.42  115  120  108   7   5  ...   7   2   2

Type      FD         +/–.1
Side def all atk def   all atk def
0      1   1   1   0     0  -1  +1
1      1   1   1   0    +2  +1  +1
2      1   4   1   3    -2   0  -2
3      1   2   2   0    -1  -2  +1
4      0   3   2   1    -1   0  -1

[5 rows x 38 columns]

Type       Name Team     R              ACS             K      ... HS%  FK  \
Side       Name Team   all   atk   def  all  atk  def all atk  ... def all
0         Derke  FNC  1.41  1.32  1.47  317  344  301  23  10  ...  39   6
1       Alfajer  FNC  1.31  1.10  1.45  231  223  237  17   7  ...  37   1
2           Leo  FNC  1.13  1.45  0.92  123  157  101   9   4  ...   8   0
3     Chronicle  FNC  1.01  1.51  0.68  195  203  190  14   6  ...  15   1
4       Boaster  FNC  0.97  0.83  1.07  130  115  140   8   3  ...  21   3

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      1   5   3   2   1    +3  -1  +4
1      1   0   1   0   1     0  +1  -1
2      0   0   0   0   0     0   0   0
3      0   1   2   0   2    -1   0  -1
4      2   1   3   2   1     0   0   0

[5 rows x 38 columns]

<Response [200 OK]>
21 >> T1 0:2 FURIA

	Saturday, February 25th 2:50 AM +07 Patch 6.02

	Bracket Stage: Omega - Round of 16

	Stats unavailable for Map 2 due to lobby remake.
Overall

Type        Name Team     R              ACS             K      ... HS%  FK  \
Side        Name Team   all   atk   def  all  atk  def all atk  ... def all
0     Sayaplayer   T1  0.83  0.50  1.05  196  103  259  26   3  ...  44   5
1       Munchkin   T1  0.78  0.19  1.18  157   95  199  18   2  ...  19   0
2          Carpe   T1  0.77  0.28  1.10  172   94  224  29   3  ...  30   0
3            ban   T1  0.74  0.91  0.63  194  273  143  16   7  ...  19   2
4           xeta   T1  0.71  0.70  0.71  172  229  135  17   5  ...  27   0

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      1   4   5   2   3     0  -1  +1
1      0   0   5   2   3    -5  -2  -3
2      0   0   0   0   0     0   0   0
3      0   2   0   0   0    +2   0  +2
4      0   0   3   3   0    -3  -3   0

[5 rows x 38 columns]

Type    Name Team     R              ACS             K      ... HS%  FK      \
Side    Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0      Mazin  FUR  1.46  1.41  1.52  205  231  168  35  11  ...  13   1   0
1     mwzera  FUR  1.38  1.24  1.60  268  233  322  32  10  ...   8   4   1
2      dgzin  FUR  1.32  0.81  2.09  291  257  343  37  10  ...  25   4   3
3      Quick  FUR  1.07  1.01  1.15  199  185  222  35   8  ...  35   2   1
4     Khalil  FUR  1.05  0.87  1.32  155  153  159  16   5  ...  40   2   1

Type      FD         +/–.1
Side def all atk def   all atk def
0      1   1   1   0     0  -1  +1
1      3   0   0   0    +4  +1  +3
2      1   4   4   0     0  -1  +1
3      1   2   1   1     0   0   0
4      1   0   0   0    +2  +1  +1

[5 rows x 38 columns]

Pearl 54:20

Type        Name Team     R              ACS             K      ... HS%  FK  \
Side        Name Team   all   atk   def  all  atk  def all atk  ... def all
0     Sayaplayer   T1  0.83  0.50  1.05  196  103  259  14   3  ...  44   5
1       Munchkin   T1  0.78  0.19  1.18  157   95  199  11   2  ...  19   0
2          Carpe   T1  0.77  0.28  1.10  172   94  224  12   3  ...  30   0
3            ban   T1  0.74  0.91  0.63  194  273  143  13   7  ...  19   2
4           xeta   T1  0.71  0.70  0.71  172  229  135  10   5  ...  27   0

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      1   4   5   2   3     0  -1  +1
1      0   0   5   2   3    -5  -2  -3
2      0   0   0   0   0     0   0   0
3      0   2   0   0   0    +2   0  +2
4      0   0   3   3   0    -3  -3   0

[5 rows x 38 columns]

Type    Name Team     R              ACS             K      ... HS%  FK      \
Side    Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0      Mazin  FUR  1.46  1.41  1.52  205  231  168  16  11  ...  13   1   0
1     mwzera  FUR  1.38  1.24  1.60  268  233  322  18  10  ...   8   4   1
2      dgzin  FUR  1.32  0.81  2.09  291  257  343  21  10  ...  25   4   3
3      Quick  FUR  1.07  1.01  1.15  199  185  222  14   8  ...  35   2   1
4     Khalil  FUR  1.05  0.87  1.32  155  153  159  11   5  ...  40   2   1

Type      FD         +/–.1
Side def all atk def   all atk def
0      1   1   1   0     0  -1  +1
1      3   0   0   0    +4  +1  +3
2      1   4   4   0     0  -1  +1
3      1   2   1   1     0   0   0
4      1   0   0   0    +2  +1  +1

[5 rows x 38 columns]

Icebox -

TypeError: expected string or bytes-like object, got 'int'

In [67]:
sample_match = completed_matches[21]
match_res = httpx.get(match_url := f'{base_url}{sample_match.attributes["href"]}')
print(httpx.get(match_url))

match_html = HTMLParser(match_res.text)

<Response [200 OK]>

In [68]:
maps = match_html.css('div.vm-stats-game')

# rearrange the map order
maps = [maps[1],maps[0],maps[2]]

# extract data of each map
for m in maps:
    # get the current map pick name or overall if it the match summary
    current_map = m.css_first('div.map')
    match_header = 'Overall' if not current_map else\
                    ' '.join(re_strip(' ',current_map.text()).split(' ')[::2])

    print(match_header)


    tables = m.css('table.wf-table-inset')

    for table in tables:
        df = pd.read_html(table.html)[0]
        display(extract_df(df))

Overall

Type        Name Team     R              ACS             K      ... HS%  FK  \
Side        Name Team   all   atk   def  all  atk  def all atk  ... def all
0     Sayaplayer   T1  0.83  0.50  1.05  196  103  259  26   3  ...  44   5
1       Munchkin   T1  0.78  0.19  1.18  157   95  199  18   2  ...  19   0
2          Carpe   T1  0.77  0.28  1.10  172   94  224  29   3  ...  30   0
3            ban   T1  0.74  0.91  0.63  194  273  143  16   7  ...  19   2
4           xeta   T1  0.71  0.70  0.71  172  229  135  17   5  ...  27   0

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      1   4   5   2   3     0  -1  +1
1      0   0   5   2   3    -5  -2  -3
2      0   0   0   0   0     0   0   0
3      0   2   0   0   0    +2   0  +2
4      0   0   3   3   0    -3  -3   0

[5 rows x 38 columns]

Type    Name Team     R              ACS             K      ... HS%  FK      \
Side    Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0      Mazin  FUR  1.46  1.41  1.52  205  231  168  35  11  ...  13   1   0
1     mwzera  FUR  1.38  1.24  1.60  268  233  322  32  10  ...   8   4   1
2      dgzin  FUR  1.32  0.81  2.09  291  257  343  37  10  ...  25   4   3
3      Quick  FUR  1.07  1.01  1.15  199  185  222  35   8  ...  35   2   1
4     Khalil  FUR  1.05  0.87  1.32  155  153  159  16   5  ...  40   2   1

Type      FD         +/–.1
Side def all atk def   all atk def
0      1   1   1   0     0  -1  +1
1      3   0   0   0    +4  +1  +3
2      1   4   4   0     0  -1  +1
3      1   2   1   1     0   0   0
4      1   0   0   0    +2  +1  +1

[5 rows x 38 columns]

Pearl 54:20

Type        Name Team     R              ACS             K      ... HS%  FK  \
Side        Name Team   all   atk   def  all  atk  def all atk  ... def all
0     Sayaplayer   T1  0.83  0.50  1.05  196  103  259  14   3  ...  44   5
1       Munchkin   T1  0.78  0.19  1.18  157   95  199  11   2  ...  19   0
2          Carpe   T1  0.77  0.28  1.10  172   94  224  12   3  ...  30   0
3            ban   T1  0.74  0.91  0.63  194  273  143  13   7  ...  19   2
4           xeta   T1  0.71  0.70  0.71  172  229  135  10   5  ...  27   0

Type          FD         +/–.1
Side atk def all atk def   all atk def
0      1   4   5   2   3     0  -1  +1
1      0   0   5   2   3    -5  -2  -3
2      0   0   0   0   0     0   0   0
3      0   2   0   0   0    +2   0  +2
4      0   0   3   3   0    -3  -3   0

[5 rows x 38 columns]

Type    Name Team     R              ACS             K      ... HS%  FK      \
Side    Name Team   all   atk   def  all  atk  def all atk  ... def all atk
0      Mazin  FUR  1.46  1.41  1.52  205  231  168  16  11  ...  13   1   0
1     mwzera  FUR  1.38  1.24  1.60  268  233  322  18  10  ...   8   4   1
2      dgzin  FUR  1.32  0.81  2.09  291  257  343  21  10  ...  25   4   3
3      Quick  FUR  1.07  1.01  1.15  199  185  222  14   8  ...  35   2   1
4     Khalil  FUR  1.05  0.87  1.32  155  153  159  11   5  ...  40   2   1

Type      FD         +/–.1
Side def all atk def   all atk def
0      1   1   1   0     0  -1  +1
1      3   0   0   0    +4  +1  +3
2      1   4   4   0     0  -1  +1
3      1   2   1   1     0   0   0
4      1   0   0   0    +2  +1  +1

[5 rows x 38 columns]

Icebox -

TypeError: expected string or bytes-like object, got 'int'

In [71]:
pd.read_html(table.html)

[      Unnamed: 0  Unnamed: 1   R  ACS   K         D  A  +/–  KAST  ADR  HS%  \
 0        xeta T1         NaN NaN  NaN   7  /  14  /  5   -7   NaN  NaN  NaN
 1    Munchkin T1         NaN NaN  NaN   7  /  15  /  5   -8   NaN  NaN  NaN
 2  Sayaplayer T1         NaN NaN  NaN  12  /  16  /  2   -4   NaN  NaN  NaN
 3         ban T1         NaN NaN  NaN   3  /  17  /  1  -14   NaN  NaN  NaN
 4       Carpe T1         NaN NaN  NaN  17  /  13  /  1    4   NaN  NaN  NaN

    FK  FD  +/–.1
 0 NaN NaN    NaN
 1 NaN NaN    NaN
 2 NaN NaN    NaN
 3 NaN NaN    NaN
 4 NaN NaN    NaN  ]

In [83]:
def extract_data(data) -> str:

    list_data = re.findall("[\d+-.]+",data)

    if len(list_data) < 3:
        result = '0 0 0'
    else:
        result = ' '.join(list_data)

    return result



df = pd.read_html(table.html)[0]
filled_df =df.fillna('Nan Nan Nan').astype('object')

name = filled_df.iloc[:,0].map(lambda s : s.split(' ')[0])
team = filled_df.iloc[:,0].map(lambda s : s.split(' ')[1])

filled_df.iloc[:,0] = name
filled_df.iloc[:,1] = team

formatted_df = filled_df.rename(columns={'Unnamed: 0':'Name','Unnamed: 1':'Team'})

formatted_df.iloc[:,2:] = formatted_df.iloc[:,2:].applymap(extract_data)

formatted_df

TypeError: expected string or bytes-like object, got 'int'

# OOP Design

In [7]:
class Event:
    def __init__(self,url):
        self.url = url
        # self.dates -> str(maybe pd.datatime)
        # self.players -> List[Player]
        # self.prize_pool -> int,float
        # self.region -> str
        # self.matches -> List[Match]

In [8]:
lock_in_url = 'https://www.vlr.gg/event/matches/1188/champions-tour-2023-lock-in-s-o-paulo/?series_id=all'


class Event_Slow:
    def __init__(self,url):
        self.url = url
        self.info = pd.DataFrame({
            'Name' : ['Dates','Prize Pool','Location'],
            'Value' : [self.dates(),self.prize_pool(),self.location()]
        })
        
    def page_html(self):
        res = httpx.get(self.url)
        
        return HTMLParser(res.text)
    
    def prize_pool(self):
        
        return self.page_html().css('div.event-desc-item-value')[1].text().strip()
    
    def location(self):
        return self.page_html().css_first('div.event-desc-item.mod-last')\
                        .css_first('div.event-desc-item-value').text().strip()
    def dates(self):
        dates = self.page_html().css_first('div.event-desc-item-value').text().strip().split(' - ')
        return pd.to_datetime(dates).strftime('%y/%m/%d')
    
    def date_range(self):
        return pd.date_range(start=self.dates()[0],end=self.dates()[1],freq='D')

In [9]:
lock_in = Event_Slow(lock_in_url)
lock_in.prize_pool()

'$500,000 USD'

In [53]:
class Event:
    def __init__(self,url:str) -> None:
        self.url = url
        self.html = HTMLParser(httpx.get(url).text)
        header = self.html.css('div.event-desc-item-value')
        
        self.info = pd.DataFrame({
            'dates' : header[0].text().strip(),
            'prize_pool' : header[1].text().strip(),
            'location' : header[2].text().strip()
        },index=['Info'])
        
        
        
    def get_matches(self):
        if hasattr(self,'matches'):
            return self.matches
        
        completed_matches = [Match(match) for match in self.html.css('a.wf-module-item')
                                if match.css_first('div.ml-status').text() == 'Completed']
        self.matches = completed_matches
        return completed_matches

In [61]:
class Match:
    def __init__(self,node) -> None:
        self.match_url = 'https://www.vlr.gg' + node.attributes['href']
        self.html = HTMLParser(httpx.get(self.match_url).text)
        
        match_name = self.html.css_first('title').text().strip().split(' | ')[0].split(' vs. ')
        
        messy_match_result = self.html.css_first('div.js-spoiler').text()
        match_result = ' ' + re_strip('',messy_match_result) + ' '
        
        self.match_sum = match_result.join(match_name)
        
        self.stage = re_strip(' ',self.html.css_first('div.match-header-event-series').text())
        
        self.ban_pick = re_strip(' ',self.html.css_first('div.match-header-note').text()).split('; ')
        
        
    def __repr__(self):
        return self.match_sum

In [62]:
lock_in = Event(lock_in_url)

In [63]:
lock_in.get_matches()

AttributeError: 'NoneType' object has no attribute 'text'

In [57]:
lock_in.matches

[KOI 0:2 NRG Esports,
 DetonatioN FocusMe 0:2 Giants Gaming,
 FunPlus Phoenix 1:2 Karmine Corp,
 BBL Esports 1:2 DRX,
 Cloud9 2:0 Paper Rex,
 Team Heretics 0:2 Evil Geniuses,
 MIBR 0:2 Talon Esports,
 Gen.G 0:2 LOUD,
 NRG Esports 2:1 Giants Gaming,
 LOUD 2:0 Karmine Corp,
 DRX 2:1 Cloud9,
 Evil Geniuses 0:2 Talon Esports,
 NRG Esports 1:2 LOUD,
 DRX 2:1 Talon Esports,
 Team Liquid 0:2 Team Secret,
 Natus Vincere 2:0 KRÜ Esports,
 ZETA DIVISION 0:2 Leviatán,
 Team Vitality 2:1 Global Esports,
 FUT Esports 2:0 Rex Regum Qeon,
 100 Thieves 2:1 EDward Gaming,
 Sentinels 0:2 FNATIC,
 T1 0:2 FURIA,
 Team Secret 0:2 Natus Vincere,
 Leviatán 2:0 Team Vitality,
 FUT Esports 1:2 100 Thieves,
 FNATIC 2:0 FURIA,
 Natus Vincere 2:0 Leviatán,
 100 Thieves 0:2 FNATIC,
 LOUD 3:2 DRX,
 Natus Vincere 0:3 FNATIC,
 Team tarik 0:1 Team FRTTT,
 LOUD 2:3 FNATIC]

In [59]:
lock_in.matches[2].stage

'Bracket Stage: Alpha - Round of 16'